{"swagger":"2.0","info":{"version":"1.0.0","title":"Companies House Public Data API","description":"An API suite providing read only access to search and retrieve public company data"},"host":"api.company-information.service.gov.uk","schemes":["https","http"],"consumes":["application/json"],"produces":["application/json"],"tags":[{"name":"registeredOfficeAddress","description":"Registered office address"},{"name":"companyProfile","description":"Company profile"},{"name":"search","description":"Search"},{"name":"officers","description":"Officers"},{"name":"registers","description":"Registers"},{"name":"charges","description":"Charges"},{"name":"filingHistory","description":"Filing history"},{"name":"insolvency","description":"Insolvency"},{"name":"exemptions","description":"Exemptions"},{"name":"officerDisqualifications","description":"Officer disqualifications"},{"name":"officerAppointments","description":"Officer appointments"},{"name":"UKEstablishments","description":"UK Establishments"},{"name":"personsWithSignificantControl","description":"Persons with significant control"},{"name":"pscDiscrepancies","description":"PSC discrepancies"}],"securityDefinitions":{"api_key":{"type":"apiKey","name":"api_key","in":"header"}},"security":[{"api_key":[]}],"paths":{"/company/{companyNumber}/registered-office-address":{"get":{"summary":"Registered Office Address","description":"Get the current address of a company","parameters":[{"name":"company_number","in":"path","description":"Company number for registered office address","required":true,"type":"string"}],"tags":["registeredOfficeAddress"],"security":[{"oauth2":["https://identity.company-information.service.gov.uk/user/profile.read","https://api.company-information.service.gov.uk/company/{company_number}/registered-office-address.update"]}],"responses":{"200":{"description":"Successful response","schema":{"title":"registeredOfficeAddress","type":"object","required":["premises","address_line_1","locality","country"],"properties":{"etag":{"type":"string","description":"The ETag of the resource.","readOnly":true},"kind":{"type":"string","description":"The type of resource.","enum":["registered-office-address"],"readOnly":true},"links":{"type":"object","description":"Links to the related resources","items":{"required":["self"],"properties":{"self":{"description":"URL to this resource.","readOnly":true,"type":"string","format":"uri"}}},"readOnly":true},"premises":{"type":"string","description":"The property name or number."},"address_line_1":{"type":"string","description":"The first line of the address."},"address_line_2":{"type":"string","description":"The second line of the address."},"locality":{"type":"string","description":"The locality e.g London."},"region":{"type":"string","description":"The region e.g Surrey."},"postal_code":{"type":"string","description":"The postal code e.g CF14 3UZ."},"country":{"type":"string","description":"The country.","enum":["England","Wales","Scotland","Northern Ireland","Great Britain","United Kingdom","Not specified"]},"po_box":{"type":"string","description":"The post-office box number."}}}},"401":{"description":"Not authorised"},"404":{"description":"Resource not found"}}}},"/company/{companyNumber}":{"get":{"summary":"Company profile","description":"Get the basic company information","parameters":[{"name":"company_number","in":"path","description":"The company number of the basic information to return.","required":true,"type":"string"}],"tags":["companyProfile"],"responses":{"200":{"description":"readCompanyProfile","headers":{"ETag":{"description":"The ETag of the resource.","type":"string"}},"schema":{"title":"companyProfile","required":["company_name","jurisdiction","company_number","company_status","type","date_of_creation","can_file","links"],"properties":{"accounts":{"description":"Company accounts information.","items":{"title":"accountsInformation","type":"object","required":["overdue","next_made_up_to","accounting_reference_date"],"properties":{"accounting_reference_date":{"description":"The Accounting Reference Date (ARD) of the company.","type":"object","items":{"title":"accountingReferenceDate","type":"object","required":["day","month"],"properties":{"day":{"type":"integer","description":"The Accounting Reference Date (ARD) day."},"month":{"type":"integer","description":"The Accounting Reference Date (ARD) month."}}}},"last_accounts":{"description":"The last company accounts filed.","type":"object","items":{"title":"lastAccounts","properties":{"made_up_to":{"type":"string","format":"date","description":"The date the last company accounts were made up to."},"type":{"description":"The type of the last company accounts filed.  \n For enumeration descriptions see `account_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).    ","enum":["null","full","small","medium","group","dormant","interim","initial","total-exemption-full","total-exemption-small","partial-exemption","audit-exemption-subsidiary","filing-exemption-subsidiary","micro-entity","no-accounts-type-available","audited-abridged","unaudited-abridged"]}},"type":"string","required":["type","made_up_to"]}},"next_due":{"description":"The date the next company accounts are due.","type":"string","format":"date"},"next_made_up_to":{"description":"The date the next company accounts should be made up to.","type":"string","format":"date"},"overdue":{"type":"boolean","description":"Flag indicating if the company accounts are overdue."}}},"type":"object"},"annual_return":{"description":"Annual return information. This member is only returned if a confirmation statement has not be filed.","items":{"title":"annualReturnInformation","type":"object","properties":{"last_made_up_to":{"description":"The date the last annual return was made up to.","type":"string","format":"date"},"next_due":{"description":"The date the next annual return is due. This member will only be returned if a confirmation statement has not been filed and the date is before 28th July 2016, otherwise refer to `confirmation_statement.next_due`","type":"string","format":"date"},"next_made_up_to":{"description":"The date the next annual return should be made up to. This member will only be returned if a confirmation statement has not been filed and the date is before 30th July 2016, otherwise refer to `confirmation_statement.next_made_up_to`","type":"string","format":"date"},"overdue":{"description":"Flag indicating if the annual return is overdue.","type":"boolean"}}},"type":"object"},"can_file":{"description":"Flag indicating whether this company can file.","type":"boolean"},"confirmation_statement":{"description":"Confirmation statement information (N.B. refers to the Annual Statement where type is registered-overseas-entity)","items":{"title":"confirmationOfStatementInformation","required":["next_made_up_to","next_due"],"properties":{"last_made_up_to":{"description":"The date to which the company last made a confirmation statement.","type":"string","format":"date"},"next_due":{"description":"The date by which the next confimation statement must be received.","type":"string","format":"date"},"next_made_up_to":{"description":"The date to which the company must next make a confirmation statement.","type":"string","format":"date"},"overdue":{"description":"Flag indicating if the confirmation statement is overdue","type":"boolean"}}},"type":"object"},"company_name":{"description":"The name of the company.","type":"string"},"jurisdiction":{"description":"The jurisdiction specifies the political body responsible for the company.","type":"string","enum":["england-wales","wales","scotland","northern-ireland","european-union","united-kingdom","england","noneu"]},"company_number":{"description":"The number of the company.","type":"string"},"date_of_creation":{"description":"The date when the company was created.","type":"string","format":"date"},"date_of_cessation":{"description":"The date which the company was converted/closed, dissolved or removed. Please refer to company status to determine which.","type":"string","format":"date"},"etag":{"description":"The ETag of the resource.","type":"string"},"has_been_liquidated":{"description":"The flag indicating if the company has been liquidated in the past.","type":"boolean"},"has_charges":{"description":"The flag indicating if the company has any charges.","type":"boolean"},"is_community_interest_company":{"description":"The flag indicating if the company is a Community Interest Company.","type":"boolean"},"foreign_company_details":{"description":"Foreign company details.","items":{"title":"foreignCompanyDetails","properties":{"originating_registry":{"description":"Company origin informations","type":"object","items":{"title":"originatingRegistry","properties":{"country":{"description":"Country in which company was incorporated.","type":"string"},"name":{"description":"Identity of register in country of incorporation.","type":"string"}}}},"registration_number":{"description":"Registration number in company of incorporation.","type":"string"},"governed_by":{"description":"Law governing the company in country of incorporation.","type":"string"},"company_type":{"description":"Legal form of the company in the country of incorporation.","type":"string"},"is_a_credit_finance_institution":{"description":"Is it a financial or credit institution.","type":"boolean"},"accounts":{"description":"Foreign company account information.","items":{"title":"accountInformation","properties":{"account_period_from:":{"description":"Date account period starts under parent law.","items":{"title":"accountPeriodFrom","properties":{"day":{"description":"Day on which accounting period starts under parent law.","type":"integer"},"month":{"description":"Month in which accounting period starts under parent law.","type":"integer"}}},"type":"object"},"account_period_to":{"description":"Date account period ends under parent law.","items":{"title":"accountPeriodTo","properties":{"day":{"description":"Day on which accounting period ends under parent law.","type":"integer"},"month":{"description":"Month in which accounting period ends under parent law.","type":"integer"}}},"type":"object"},"must_file_within":{"description":"Time allowed from period end for disclosure of accounts under parent law.","items":{"title":"fileWithin","properties":{"months":{"description":"Number of months within which to file.","type":"integer"}}},"type":"object"}}},"type":"object"},"business_activity":{"description":"Type of business undertaken by the company.","type":"string"},"accounting_requirement":{"description":"Accounts requirement.","items":{"title":"accountsRequired","properties":{"foreign_account_type":{"description":"Type of accounting requirement that applies.  \n For enumeration descriptions see `foreign_account_type` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounting-requirements-of-originating-country-apply","accounting-requirements-of-originating-country-do-not-apply"],"type":"string"},"terms_of_account_publication":{"description":"Describes how the publication date is derived.  \n For enumeration descriptions see `terms_of_account_publication` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounts-publication-date-supplied-by-company","accounting-publication-date-does-not-need-to-be-supplied-by-company","accounting-reference-date-allocated-by-companies-house"],"type":"string"}}},"type":"object"}}},"type":"object"},"last_full_members_list_date":{"description":"The date of last full members list update.","type":"string","format":"date"},"registered_office_address":{"description":"The address of the company's registered office.","items":{"title":"registeredOfficeAddress","properties":{"care_of":{"description":"The care of name.","type":"string"},"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country.","enum":["Wales","England","Scotland","Great Britain","Not specified","United Kingdom","Northern Ireland"],"type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}},"type":"object"},"service_address":{"description":"The correspondence address of a Registered overseas entity","items":{"title":"serviceAddress","properties":{"care_of":{"description":"The care of name.","type":"string"},"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country e.g. United Kingdom.","type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}},"type":"object"},"super_secure_managing_officer_count":{"description":"The total count of super secure managing officers for a `registered-overseas-entity`.","type":"integer"},"sic_codes":{"description":"SIC codes for this company.","type":"array","items":{"type":"string"}},"previous_company_names":{"description":"The previous names of this company.","items":{"title":"previousCompanyNames","properties":{"name":{"description":"The previous company name","type":"string"},"effective_from":{"description":"The date from which the company name was effective.","type":"string","format":"date"},"ceased_on":{"description":"The date on which the company name ceased.","type":"string","format":"date"}},"required":["name","effective_from","ceased_on"]},"type":"array"},"company_status":{"description":"The status of the company.  \n For enumeration descriptions see `company_status` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)  ","type":"string","enum":["active","dissolved","liquidation","receivership","administration","voluntary-arrangement","converted-closed","insolvency-proceedings","registered","removed","closed","open"]},"company_status_detail":{"description":"Extra details about the status of the company.  \n For enumeration descriptions see `company_status_detail` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["transferred-from-uk","active-proposal-to-strike-off","petition-to-restore-dissolved","transformed-to-se","converted-to-plc"],"type":"string"},"type":{"description":"The type of the company.  \n For enumeration descriptions see `company_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)    ","enum":["private-unlimited","ltd","plc","old-public-company","private-limited-guarant-nsc-limited-exemption","limited-partnership","private-limited-guarant-nsc","converted-or-closed","private-unlimited-nsc","private-limited-shares-section-30-exemption","protected-cell-company","assurance-company","oversea-company","eeig","icvc-securities","icvc-warrant","icvc-umbrella","registered-society-non-jurisdictional","industrial-and-provident-society","northern-ireland","northern-ireland-other","royal-charter","investment-company-with-variable-capital","unregistered-company","llp","other","european-public-limited-liability-company-se","uk-establishment","scottish-partnership","charitable-incorporated-organisation","scottish-charitable-incorporated-organisation","further-education-or-sixth-form-college-corporation","registered-overseas-entity"],"type":"string"},"has_insolvency_history":{"description":"The flag indicating if the company has insolvency history.","type":"boolean"},"undeliverable_registered_office_address":{"description":"Flag indicating whether post can be delivered to the registered office.","type":"boolean"},"registered_office_is_in_dispute":{"description":"Flag indicating registered office address as been replaced.","type":"boolean"},"branch_company_details":{"description":"UK branch of a foreign company.","items":{"title":"branchCompanyDetails","properties":{"business_activity":{"description":"Type of business undertaken by the UK establishment.","type":"string"},"parent_company_number":{"description":"Parent company number.","type":"string"},"parent_company_name":{"description":"Parent company name.","type":"string"}}}},"links":{"description":"A set of URLs related to the resource, including self.","items":{"title":"linksType","required":["self"],"properties":{"self":{"description":"The URL of the resource.","type":"string"},"persons_with_significant_control":{"description":"The URL of the persons with significant control list resource.","type":"string"},"persons_with_significant_control_statements":{"description":"The URL of the persons with significant control statements list resource.","type":"string"},"registers":{"description":"The URL of the registers resource for this company","type":"string"}}},"type":"object"}}}},"401":{"description":"Unauthorised"},"404":{"description":"Resource not found"}}},"definitions":{"accountingReferenceDate":{"title":"accountingReferenceDate","type":"object","required":["day","month"],"properties":{"day":{"type":"integer","description":"The Accounting Reference Date (ARD) day."},"month":{"type":"integer","description":"The Accounting Reference Date (ARD) month."}}},"accountsInformation":{"title":"accountsInformation","type":"object","required":["overdue","next_made_up_to","accounting_reference_date"],"properties":{"accounting_reference_date":{"description":"The Accounting Reference Date (ARD) of the company.","type":"object","items":{"title":"accountingReferenceDate","type":"object","required":["day","month"],"properties":{"day":{"type":"integer","description":"The Accounting Reference Date (ARD) day."},"month":{"type":"integer","description":"The Accounting Reference Date (ARD) month."}}}},"last_accounts":{"description":"The last company accounts filed.","type":"object","items":{"title":"lastAccounts","properties":{"made_up_to":{"type":"string","format":"date","description":"The date the last company accounts were made up to."},"type":{"description":"The type of the last company accounts filed.  \n For enumeration descriptions see `account_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).    ","enum":["null","full","small","medium","group","dormant","interim","initial","total-exemption-full","total-exemption-small","partial-exemption","audit-exemption-subsidiary","filing-exemption-subsidiary","micro-entity","no-accounts-type-available","audited-abridged","unaudited-abridged"]}},"type":"string","required":["type","made_up_to"]}},"next_due":{"description":"The date the next company accounts are due.","type":"string","format":"date"},"next_made_up_to":{"description":"The date the next company accounts should be made up to.","type":"string","format":"date"},"overdue":{"type":"boolean","description":"Flag indicating if the company accounts are overdue."}}},"annualReturnInformation":{"title":"annualReturnInformation","type":"object","properties":{"last_made_up_to":{"description":"The date the last annual return was made up to.","type":"string","format":"date"},"next_due":{"description":"The date the next annual return is due. This member will only be returned if a confirmation statement has not been filed and the date is before 28th July 2016, otherwise refer to `confirmation_statement.next_due`","type":"string","format":"date"},"next_made_up_to":{"description":"The date the next annual return should be made up to. This member will only be returned if a confirmation statement has not been filed and the date is before 30th July 2016, otherwise refer to `confirmation_statement.next_made_up_to`","type":"string","format":"date"},"overdue":{"description":"Flag indicating if the annual return is overdue.","type":"boolean"}}},"confirmationOfStatementInformation":{"title":"confirmationOfStatementInformation","required":["next_made_up_to","next_due"],"properties":{"last_made_up_to":{"description":"The date to which the company last made a confirmation statement.","type":"string","format":"date"},"next_due":{"description":"The date by which the next confimation statement must be received.","type":"string","format":"date"},"next_made_up_to":{"description":"The date to which the company must next make a confirmation statement.","type":"string","format":"date"},"overdue":{"description":"Flag indicating if the confirmation statement is overdue","type":"boolean"}}},"companyProfile":{"title":"companyProfile","required":["company_name","jurisdiction","company_number","company_status","type","date_of_creation","can_file","links"],"properties":{"accounts":{"description":"Company accounts information.","items":{"title":"accountsInformation","type":"object","required":["overdue","next_made_up_to","accounting_reference_date"],"properties":{"accounting_reference_date":{"description":"The Accounting Reference Date (ARD) of the company.","type":"object","items":{"title":"accountingReferenceDate","type":"object","required":["day","month"],"properties":{"day":{"type":"integer","description":"The Accounting Reference Date (ARD) day."},"month":{"type":"integer","description":"The Accounting Reference Date (ARD) month."}}}},"last_accounts":{"description":"The last company accounts filed.","type":"object","items":{"title":"lastAccounts","properties":{"made_up_to":{"type":"string","format":"date","description":"The date the last company accounts were made up to."},"type":{"description":"The type of the last company accounts filed.  \n For enumeration descriptions see `account_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).    ","enum":["null","full","small","medium","group","dormant","interim","initial","total-exemption-full","total-exemption-small","partial-exemption","audit-exemption-subsidiary","filing-exemption-subsidiary","micro-entity","no-accounts-type-available","audited-abridged","unaudited-abridged"]}},"type":"string","required":["type","made_up_to"]}},"next_due":{"description":"The date the next company accounts are due.","type":"string","format":"date"},"next_made_up_to":{"description":"The date the next company accounts should be made up to.","type":"string","format":"date"},"overdue":{"type":"boolean","description":"Flag indicating if the company accounts are overdue."}}},"type":"object"},"annual_return":{"description":"Annual return information. This member is only returned if a confirmation statement has not be filed.","items":{"title":"annualReturnInformation","type":"object","properties":{"last_made_up_to":{"description":"The date the last annual return was made up to.","type":"string","format":"date"},"next_due":{"description":"The date the next annual return is due. This member will only be returned if a confirmation statement has not been filed and the date is before 28th July 2016, otherwise refer to `confirmation_statement.next_due`","type":"string","format":"date"},"next_made_up_to":{"description":"The date the next annual return should be made up to. This member will only be returned if a confirmation statement has not been filed and the date is before 30th July 2016, otherwise refer to `confirmation_statement.next_made_up_to`","type":"string","format":"date"},"overdue":{"description":"Flag indicating if the annual return is overdue.","type":"boolean"}}},"type":"object"},"can_file":{"description":"Flag indicating whether this company can file.","type":"boolean"},"confirmation_statement":{"description":"Confirmation statement information (N.B. refers to the Annual Statement where type is registered-overseas-entity)","items":{"title":"confirmationOfStatementInformation","required":["next_made_up_to","next_due"],"properties":{"last_made_up_to":{"description":"The date to which the company last made a confirmation statement.","type":"string","format":"date"},"next_due":{"description":"The date by which the next confimation statement must be received.","type":"string","format":"date"},"next_made_up_to":{"description":"The date to which the company must next make a confirmation statement.","type":"string","format":"date"},"overdue":{"description":"Flag indicating if the confirmation statement is overdue","type":"boolean"}}},"type":"object"},"company_name":{"description":"The name of the company.","type":"string"},"jurisdiction":{"description":"The jurisdiction specifies the political body responsible for the company.","type":"string","enum":["england-wales","wales","scotland","northern-ireland","european-union","united-kingdom","england","noneu"]},"company_number":{"description":"The number of the company.","type":"string"},"date_of_creation":{"description":"The date when the company was created.","type":"string","format":"date"},"date_of_cessation":{"description":"The date which the company was converted/closed, dissolved or removed. Please refer to company status to determine which.","type":"string","format":"date"},"etag":{"description":"The ETag of the resource.","type":"string"},"has_been_liquidated":{"description":"The flag indicating if the company has been liquidated in the past.","type":"boolean"},"has_charges":{"description":"The flag indicating if the company has any charges.","type":"boolean"},"is_community_interest_company":{"description":"The flag indicating if the company is a Community Interest Company.","type":"boolean"},"foreign_company_details":{"description":"Foreign company details.","items":{"title":"foreignCompanyDetails","properties":{"originating_registry":{"description":"Company origin informations","type":"object","items":{"title":"originatingRegistry","properties":{"country":{"description":"Country in which company was incorporated.","type":"string"},"name":{"description":"Identity of register in country of incorporation.","type":"string"}}}},"registration_number":{"description":"Registration number in company of incorporation.","type":"string"},"governed_by":{"description":"Law governing the company in country of incorporation.","type":"string"},"company_type":{"description":"Legal form of the company in the country of incorporation.","type":"string"},"is_a_credit_finance_institution":{"description":"Is it a financial or credit institution.","type":"boolean"},"accounts":{"description":"Foreign company account information.","items":{"title":"accountInformation","properties":{"account_period_from:":{"description":"Date account period starts under parent law.","items":{"title":"accountPeriodFrom","properties":{"day":{"description":"Day on which accounting period starts under parent law.","type":"integer"},"month":{"description":"Month in which accounting period starts under parent law.","type":"integer"}}},"type":"object"},"account_period_to":{"description":"Date account period ends under parent law.","items":{"title":"accountPeriodTo","properties":{"day":{"description":"Day on which accounting period ends under parent law.","type":"integer"},"month":{"description":"Month in which accounting period ends under parent law.","type":"integer"}}},"type":"object"},"must_file_within":{"description":"Time allowed from period end for disclosure of accounts under parent law.","items":{"title":"fileWithin","properties":{"months":{"description":"Number of months within which to file.","type":"integer"}}},"type":"object"}}},"type":"object"},"business_activity":{"description":"Type of business undertaken by the company.","type":"string"},"accounting_requirement":{"description":"Accounts requirement.","items":{"title":"accountsRequired","properties":{"foreign_account_type":{"description":"Type of accounting requirement that applies.  \n For enumeration descriptions see `foreign_account_type` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounting-requirements-of-originating-country-apply","accounting-requirements-of-originating-country-do-not-apply"],"type":"string"},"terms_of_account_publication":{"description":"Describes how the publication date is derived.  \n For enumeration descriptions see `terms_of_account_publication` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounts-publication-date-supplied-by-company","accounting-publication-date-does-not-need-to-be-supplied-by-company","accounting-reference-date-allocated-by-companies-house"],"type":"string"}}},"type":"object"}}},"type":"object"},"last_full_members_list_date":{"description":"The date of last full members list update.","type":"string","format":"date"},"registered_office_address":{"description":"The address of the company's registered office.","items":{"title":"registeredOfficeAddress","properties":{"care_of":{"description":"The care of name.","type":"string"},"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country.","enum":["Wales","England","Scotland","Great Britain","Not specified","United Kingdom","Northern Ireland"],"type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}},"type":"object"},"service_address":{"description":"The correspondence address of a Registered overseas entity","items":{"title":"serviceAddress","properties":{"care_of":{"description":"The care of name.","type":"string"},"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country e.g. United Kingdom.","type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}},"type":"object"},"super_secure_managing_officer_count":{"description":"The total count of super secure managing officers for a `registered-overseas-entity`.","type":"integer"},"sic_codes":{"description":"SIC codes for this company.","type":"array","items":{"type":"string"}},"previous_company_names":{"description":"The previous names of this company.","items":{"title":"previousCompanyNames","properties":{"name":{"description":"The previous company name","type":"string"},"effective_from":{"description":"The date from which the company name was effective.","type":"string","format":"date"},"ceased_on":{"description":"The date on which the company name ceased.","type":"string","format":"date"}},"required":["name","effective_from","ceased_on"]},"type":"array"},"company_status":{"description":"The status of the company.  \n For enumeration descriptions see `company_status` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)  ","type":"string","enum":["active","dissolved","liquidation","receivership","administration","voluntary-arrangement","converted-closed","insolvency-proceedings","registered","removed","closed","open"]},"company_status_detail":{"description":"Extra details about the status of the company.  \n For enumeration descriptions see `company_status_detail` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["transferred-from-uk","active-proposal-to-strike-off","petition-to-restore-dissolved","transformed-to-se","converted-to-plc"],"type":"string"},"type":{"description":"The type of the company.  \n For enumeration descriptions see `company_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)    ","enum":["private-unlimited","ltd","plc","old-public-company","private-limited-guarant-nsc-limited-exemption","limited-partnership","private-limited-guarant-nsc","converted-or-closed","private-unlimited-nsc","private-limited-shares-section-30-exemption","protected-cell-company","assurance-company","oversea-company","eeig","icvc-securities","icvc-warrant","icvc-umbrella","registered-society-non-jurisdictional","industrial-and-provident-society","northern-ireland","northern-ireland-other","royal-charter","investment-company-with-variable-capital","unregistered-company","llp","other","european-public-limited-liability-company-se","uk-establishment","scottish-partnership","charitable-incorporated-organisation","scottish-charitable-incorporated-organisation","further-education-or-sixth-form-college-corporation","registered-overseas-entity"],"type":"string"},"has_insolvency_history":{"description":"The flag indicating if the company has insolvency history.","type":"boolean"},"undeliverable_registered_office_address":{"description":"Flag indicating whether post can be delivered to the registered office.","type":"boolean"},"registered_office_is_in_dispute":{"description":"Flag indicating registered office address as been replaced.","type":"boolean"},"branch_company_details":{"description":"UK branch of a foreign company.","items":{"title":"branchCompanyDetails","properties":{"business_activity":{"description":"Type of business undertaken by the UK establishment.","type":"string"},"parent_company_number":{"description":"Parent company number.","type":"string"},"parent_company_name":{"description":"Parent company name.","type":"string"}}}},"links":{"description":"A set of URLs related to the resource, including self.","items":{"title":"linksType","required":["self"],"properties":{"self":{"description":"The URL of the resource.","type":"string"},"persons_with_significant_control":{"description":"The URL of the persons with significant control list resource.","type":"string"},"persons_with_significant_control_statements":{"description":"The URL of the persons with significant control statements list resource.","type":"string"},"registers":{"description":"The URL of the registers resource for this company","type":"string"}}},"type":"object"}}},"lastAccounts":{"title":"lastAccounts","properties":{"made_up_to":{"type":"string","format":"date","description":"The date the last company accounts were made up to."},"type":{"description":"The type of the last company accounts filed.  \n For enumeration descriptions see `account_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).    ","enum":["null","full","small","medium","group","dormant","interim","initial","total-exemption-full","total-exemption-small","partial-exemption","audit-exemption-subsidiary","filing-exemption-subsidiary","micro-entity","no-accounts-type-available","audited-abridged","unaudited-abridged"]}},"type":"string","required":["type","made_up_to"]},"foreignCompanyDetails":{"title":"foreignCompanyDetails","properties":{"originating_registry":{"description":"Company origin informations","type":"object","items":{"title":"originatingRegistry","properties":{"country":{"description":"Country in which company was incorporated.","type":"string"},"name":{"description":"Identity of register in country of incorporation.","type":"string"}}}},"registration_number":{"description":"Registration number in company of incorporation.","type":"string"},"governed_by":{"description":"Law governing the company in country of incorporation.","type":"string"},"company_type":{"description":"Legal form of the company in the country of incorporation.","type":"string"},"is_a_credit_finance_institution":{"description":"Is it a financial or credit institution.","type":"boolean"},"accounts":{"description":"Foreign company account information.","items":{"title":"accountInformation","properties":{"account_period_from:":{"description":"Date account period starts under parent law.","items":{"title":"accountPeriodFrom","properties":{"day":{"description":"Day on which accounting period starts under parent law.","type":"integer"},"month":{"description":"Month in which accounting period starts under parent law.","type":"integer"}}},"type":"object"},"account_period_to":{"description":"Date account period ends under parent law.","items":{"title":"accountPeriodTo","properties":{"day":{"description":"Day on which accounting period ends under parent law.","type":"integer"},"month":{"description":"Month in which accounting period ends under parent law.","type":"integer"}}},"type":"object"},"must_file_within":{"description":"Time allowed from period end for disclosure of accounts under parent law.","items":{"title":"fileWithin","properties":{"months":{"description":"Number of months within which to file.","type":"integer"}}},"type":"object"}}},"type":"object"},"business_activity":{"description":"Type of business undertaken by the company.","type":"string"},"accounting_requirement":{"description":"Accounts requirement.","items":{"title":"accountsRequired","properties":{"foreign_account_type":{"description":"Type of accounting requirement that applies.  \n For enumeration descriptions see `foreign_account_type` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounting-requirements-of-originating-country-apply","accounting-requirements-of-originating-country-do-not-apply"],"type":"string"},"terms_of_account_publication":{"description":"Describes how the publication date is derived.  \n For enumeration descriptions see `terms_of_account_publication` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounts-publication-date-supplied-by-company","accounting-publication-date-does-not-need-to-be-supplied-by-company","accounting-reference-date-allocated-by-companies-house"],"type":"string"}}},"type":"object"}}},"originatingRegistry":{"title":"originatingRegistry","properties":{"country":{"description":"Country in which company was incorporated.","type":"string"},"name":{"description":"Identity of register in country of incorporation.","type":"string"}}},"previousCompanyNames":{"title":"previousCompanyNames","properties":{"name":{"description":"The previous company name","type":"string"},"effective_from":{"description":"The date from which the company name was effective.","type":"string","format":"date"},"ceased_on":{"description":"The date on which the company name ceased.","type":"string","format":"date"}},"required":["name","effective_from","ceased_on"]},"accountInformation":{"title":"accountInformation","properties":{"account_period_from:":{"description":"Date account period starts under parent law.","items":{"title":"accountPeriodFrom","properties":{"day":{"description":"Day on which accounting period starts under parent law.","type":"integer"},"month":{"description":"Month in which accounting period starts under parent law.","type":"integer"}}},"type":"object"},"account_period_to":{"description":"Date account period ends under parent law.","items":{"title":"accountPeriodTo","properties":{"day":{"description":"Day on which accounting period ends under parent law.","type":"integer"},"month":{"description":"Month in which accounting period ends under parent law.","type":"integer"}}},"type":"object"},"must_file_within":{"description":"Time allowed from period end for disclosure of accounts under parent law.","items":{"title":"fileWithin","properties":{"months":{"description":"Number of months within which to file.","type":"integer"}}},"type":"object"}}},"accountPeriodFrom":{"title":"accountPeriodFrom","properties":{"day":{"description":"Day on which accounting period starts under parent law.","type":"integer"},"month":{"description":"Month in which accounting period starts under parent law.","type":"integer"}}},"accountPeriodTo":{"title":"accountPeriodTo","properties":{"day":{"description":"Day on which accounting period ends under parent law.","type":"integer"},"month":{"description":"Month in which accounting period ends under parent law.","type":"integer"}}},"fileWithin":{"title":"fileWithin","properties":{"months":{"description":"Number of months within which to file.","type":"integer"}}},"accountsRequired":{"title":"accountsRequired","properties":{"foreign_account_type":{"description":"Type of accounting requirement that applies.  \n For enumeration descriptions see `foreign_account_type` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounting-requirements-of-originating-country-apply","accounting-requirements-of-originating-country-do-not-apply"],"type":"string"},"terms_of_account_publication":{"description":"Describes how the publication date is derived.  \n For enumeration descriptions see `terms_of_account_publication` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ","enum":["accounts-publication-date-supplied-by-company","accounting-publication-date-does-not-need-to-be-supplied-by-company","accounting-reference-date-allocated-by-companies-house"],"type":"string"}}},"registeredOfficeAddress":{"title":"registeredOfficeAddress","properties":{"care_of":{"description":"The care of name.","type":"string"},"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country.","enum":["Wales","England","Scotland","Great Britain","Not specified","United Kingdom","Northern Ireland"],"type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}},"serviceAddress":{"title":"serviceAddress","properties":{"care_of":{"description":"The care of name.","type":"string"},"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country e.g. United Kingdom.","type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}},"branchCompanyDetails":{"title":"branchCompanyDetails","properties":{"business_activity":{"description":"Type of business undertaken by the UK establishment.","type":"string"},"parent_company_number":{"description":"Parent company number.","type":"string"},"parent_company_name":{"description":"Parent company name.","type":"string"}}},"linksType":{"title":"linksType","required":["self"],"properties":{"self":{"description":"The URL of the resource.","type":"string"},"persons_with_significant_control":{"description":"The URL of the persons with significant control list resource.","type":"string"},"persons_with_significant_control_statements":{"description":"The URL of the persons with significant control statements list resource.","type":"string"},"registers":{"description":"The URL of the registers resource for this company","type":"string"}}}}},"/search":{"get":{"summary":"Search All","description":"Search companies, officers and disqualified officers","x-operationName":"search all","tags":["search"],"parameters":[{"name":"q","in":"query","description":"The term being searched for.","required":true,"type":"string"},{"name":"items_per_page","in":"query","description":"The number of search results to return per page.","required":false,"type":"integer"},{"name":"start_index","in":"query","description":"The index of the first result item to return.","required":false,"type":"integer"}],"responses":{"200":{"description":"Search all","schema":{"title":"Search","allOf":[{"properties":{"total_results":{"type":"integer","description":"The number of further search results available for the current search."},"start_index":{"type":"integer","description":"The index into the entire result set that this result page starts."},"items_per_page":{"type":"integer","description":"The number of search items returned per page."},"etag":{"type":"string","description":"The ETag of the resource"}}}],"properties":{"kind":{"type":"string","description":"The type of search response returned.","enum":["search#all"]},"items":{"type":"array","description":"The results of the completed search. See `items.kind` for details of each specific result resource returned.,","items":{"title":"SearchItems","allOf":[{"properties":{"title":{"type":"string","description":"The title of the search result."},"address_snippet":{"type":"string","description":"A single line address. This will be the address that matched within the indexed document or the primary address otherwise (as returned by the `address` member)."},"links":{"type":"object","description":"The URL of the search result.","items":{"title":"LinksModel","properties":{"self":{"type":"string","description":"The URL of the resource being returned by the search item."}}}},"description":{"type":"string","description":"The result description."},"snippet":{"type":"string","description":"Summary information for the result showing additional details that have matched."},"matches":{"type":"object","description":"A list of members and arrays of character offset defining substrings that matched the search terms.","items":{"title":"MatchesModel","properties":{"title":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `title` string. These always occur in pairs and define the start and end of substrings in the member `title` that matched the search terms. The first character of the string is index 1."},"snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `snippet` string. These always occur in pairs and define the start and end of substrings in the member `snippet` that matched the search terms. The first character of the string is index 1."},"address_snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `address_snippet` string. These always occur in pairs and define the start and end of substrings in the member `address_snippet` that matched the search terms."}}}}}}],"required":["kind","title","address_snippet","links","address"],"properties":{"kind":{"type":"string","description":"The type of search result. Refer to the full resource descriptions [CompanySearch resource](api/docs/company/company_number/CompanySearch-resource.html)  [OfficerSearch resource] (api/docs/company/company_number/OfficerSearch-resource.html) and [DisqualifiedOfficerSearch resource](api/docs/company/company_number/DisqualifiedOfficerSearch-resource.html) for the full list of members returned.","enum":["searchresults#company","searchresults#officer","searchresults#disqualified-officer"]},"description_identifier":{"items":{"type":"string","enum":["incorporated-on","registered-on","formed-on","dissolved-on","converted-closed-on","closed-on","closed","first-uk-establishment-opened-on","opened-on","voluntary-arrangement","receivership","insolvency-proceedings","liquidation","administration","appointment-count","born-on","registered","removed"]},"type":"array","description":"An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations"},"address":{"description":"The address of the company's registered office.","type":"object","items":{"title":"registeredOfficeAddress","required":["address_line_1"],"properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country.","enum":["Wales","England","Scotland","Great Britain","Not specified","United Kingdom","Northern Ireland"],"type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"care_of":{"description":"The care of name.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}}}}}}}}},"401":{"description":"Not authorised"}}}},"/search/companies":{"get":{"summary":"Search companies","description":"Search company information","x-operationName":"search companies","tags":["search"],"parameters":[{"name":"q","in":"query","description":"The term being searched for.","required":true,"type":"string"},{"name":"items_per_page","in":"query","description":"The number of search results to return per page.","required":false,"type":"integer"},{"name":"start_index","in":"query","description":"The index of the first result item to return.","required":false,"type":"integer"},{"name":"restrictions","in":"query","description":"Enumerable options to restrict search results. Space separate multiple restriction options to combine functionality. For a \"company name availability\" search use \"active-companies legally-equivalent-company-name\" together.","required":false,"type":"string"}],"responses":{"200":{"description":"Search company","schema":{"title":"CompanySearch","allOf":[{"properties":{"total_results":{"type":"integer","description":"The number of further search results available for the current search."},"start_index":{"type":"integer","description":"The index into the entire result set that this result page starts."},"items_per_page":{"type":"integer","description":"The number of search items returned per page."},"etag":{"type":"string","description":"The ETag of the resource"}}}],"properties":{"kind":{"type":"string","description":"The type of search response returned.","enum":["search#companies"]},"items":{"type":"array","description":"The results of the completed search.","items":{"title":"CompanySearchItems","allOf":[{"properties":{"title":{"type":"string","description":"The title of the search result."},"address_snippet":{"type":"string","description":"A single line address. This will be the address that matched within the indexed document or the primary address otherwise (as returned by the `address` member)."},"links":{"type":"object","description":"The URL of the search result.","items":{"title":"LinksModel","properties":{"self":{"type":"string","description":"The URL of the resource being returned by the search item."}}}},"description":{"type":"string","description":"The result description."},"snippet":{"type":"string","description":"Summary information for the result showing additional details that have matched."},"matches":{"type":"object","description":"A list of members and arrays of character offset defining substrings that matched the search terms.","items":{"title":"MatchesModel","properties":{"title":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `title` string. These always occur in pairs and define the start and end of substrings in the member `title` that matched the search terms. The first character of the string is index 1."},"snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `snippet` string. These always occur in pairs and define the start and end of substrings in the member `snippet` that matched the search terms. The first character of the string is index 1."},"address_snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `address_snippet` string. These always occur in pairs and define the start and end of substrings in the member `address_snippet` that matched the search terms."}}}}}}],"required":["kind","title","address_snippet","links","company_number","date_of_creation","company_type","company_status","address"],"properties":{"kind":{"type":"string","description":"The type of search result.","enum":["searchresults#company"]},"description_identifier":{"items":{"type":"string","enum":["incorporated-on","registered-on","formed-on","dissolved-on","converted-closed-on","closed-on","closed","first-uk-establishment-opened-on","opened-on","voluntary-arrangement","receivership","insolvency-proceedings","liquidation","administration","registered","removed"]},"type":"array","description":"An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations"},"company_number":{"type":"string","description":"The company registration / incorporation number of the company."},"date_of_creation":{"type":"string","format":"date","description":"The date the company was created."},"date_of_cessation":{"type":"string","format":"date","description":"The date the company ended."},"company_type":{"type":"string","enum":["private-unlimited","ltd","plc","old-public-company","private-limited-guarant-nsc-limited-exemption","limited-partnership","private-limited-guarant-nsc","converted-or-closed","private-unlimited-nsc","private-limited-shares-section-30-exemption","assurance-company","oversea-company","eeig","icvc-securities","icvc-warrant","icvc-umbrella","industrial-and-provident-society","northern-ireland","northern-ireland-other","royal-charter","investment-company-with-variable-capital","unregistered-company","llp","other","european-public-limited-liability-company-se","registered-overseas-entity"],"description":"The company type."},"company_status":{"type":"string","enum":["active","dissolved","liquidation","receivership","administration","voluntary-arrangement","converted-closed","insolvency-proceedings","registered","removed"],"description":"The company status."},"address":{"description":"The address of the company's registered office.","type":"object","items":{"title":"registeredOfficeAddress","required":["address_line_1"],"properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country.","enum":["Wales","England","Scotland","Great Britain","Not specified","United Kingdom","Northern Ireland"],"type":"string"},"locality":{"description":"The locality e.g London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g CF14 3UZ.","type":"string"},"care_of":{"description":"The care of name.","type":"string"},"region":{"description":"The region e.g Surrey.","type":"string"}}}}}}}}}},"401":{"description":"Not authorised"}}}},"/search/officers":{"get":{"summary":"Search company officers","description":"Search for officer information","x-operationName":"search officers","tags":["search"],"parameters":[{"name":"q","in":"query","description":"The term being searched for.","required":true,"type":"string"},{"name":"items_per_page","in":"query","description":"The number of search results to return per page.","required":false,"type":"integer"},{"name":"start_index","in":"query","description":"The index of the first result item to return.","required":false,"type":"integer"}],"responses":{"200":{"description":"Search officer","schema":{"title":"OfficerSearch","allOf":[{"properties":{"total_results":{"type":"integer","description":"The number of further search results available for the current search."},"start_index":{"type":"integer","description":"The index into the entire result set that this result page starts."},"items_per_page":{"type":"integer","description":"The number of search items returned per page."},"etag":{"type":"string","description":"The ETag of the resource"}}}],"required":["kind"],"properties":{"kind":{"type":"string","description":"The type of response returned.","enum":["search#officers"]},"items":{"type":"array","description":"The results of the completed search.","items":{"title":"OfficerSearchItems","allOf":[{"properties":{"title":{"type":"string","description":"The title of the search result."},"address_snippet":{"type":"string","description":"A single line address. This will be the address that matched within the indexed document or the primary address otherwise (as returned by the `address` member)."},"links":{"type":"object","description":"The URL of the search result.","items":{"title":"LinksModel","properties":{"self":{"type":"string","description":"The URL of the resource being returned by the search item."}}}},"description":{"type":"string","description":"The result description."},"snippet":{"type":"string","description":"Summary information for the result showing additional details that have matched."},"matches":{"type":"object","description":"A list of members and arrays of character offset defining substrings that matched the search terms.","items":{"title":"MatchesModel","properties":{"title":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `title` string. These always occur in pairs and define the start and end of substrings in the member `title` that matched the search terms. The first character of the string is index 1."},"snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `snippet` string. These always occur in pairs and define the start and end of substrings in the member `snippet` that matched the search terms. The first character of the string is index 1."},"address_snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `address_snippet` string. These always occur in pairs and define the start and end of substrings in the member `address_snippet` that matched the search terms."}}}}}}],"required":["appointment_count","description","kind","title","address_snippet","address"],"properties":{"kind":{"type":"string","description":"Describes the type of result returned.","enum":["searchresults#officer"]},"date_of_birth":{"description":"The officer date of birth details.","items":{"title":"OfficerDateOfBirth","required":["month","year"],"properties":{"month":{"description":"The month the officer was born in.","type":"integer"},"year":{"description":"The year the officer was born in.","type":"integer"}}}},"appointment_count":{"type":"integer","description":"The total number of appointments the officer has."},"description_identifiers":{"type":"array","items":{"type":"string","enum":["appointment-count","born-on"]},"description":"An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations."},"address":{"type":"object","description":"The service address of the officer.","items":{"title":"OfficerAddress","properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"care_of":{"description":"The care of name.","type":"string"},"country":{"description":"The country. For example UK.","type":"string"},"locality":{"description":"The locality. For example London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code. For example CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region. For example Surrey.","type":"string"}}}}}}}}}},"401":{"description":"Not authorised"}}}},"/search/disqualified-officers":{"get":{"summary":"Search disqualified officers","description":"Search for disqualified officer information","x-operationName":"search disqualified officers","tags":["search"],"parameters":[{"name":"q","in":"query","description":"The term being searched for.","required":true,"type":"string"},{"name":"items_per_page","in":"query","description":"The number of search results to return per page.","required":false,"type":"integer"},{"name":"start_index","in":"query","description":"The index of the first result item to return.","required":false,"type":"integer"}],"responses":{"200":{"description":"Search all","schema":{"title":"DisqualifiedOfficerSearch","allOf":[{"properties":{"total_results":{"type":"integer","description":"The number of further search results available for the current search."},"start_index":{"type":"integer","description":"The index into the entire result set that this result page starts."},"items_per_page":{"type":"integer","description":"The number of search items returned per page."},"etag":{"type":"string","description":"The ETag of the resource"}}}],"required":["kind","total_results","start_index","items_per_page"],"properties":{"kind":{"type":"string","description":"The type of response returned.","enum":["search#disqualified-officers"]},"items":{"type":"array","description":"The results of the completed search.","items":{"title":"DisqualifiedOfficerSearchItems","allOf":[{"properties":{"title":{"type":"string","description":"The title of the search result."},"address_snippet":{"type":"string","description":"A single line address. This will be the address that matched within the indexed document or the primary address otherwise (as returned by the `address` member)."},"links":{"type":"object","description":"The URL of the search result.","items":{"title":"LinksModel","properties":{"self":{"type":"string","description":"The URL of the resource being returned by the search item."}}}},"description":{"type":"string","description":"The result description."},"snippet":{"type":"string","description":"Summary information for the result showing additional details that have matched."},"matches":{"type":"object","description":"A list of members and arrays of character offset defining substrings that matched the search terms.","items":{"title":"MatchesModel","properties":{"title":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `title` string. These always occur in pairs and define the start and end of substrings in the member `title` that matched the search terms. The first character of the string is index 1."},"snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `snippet` string. These always occur in pairs and define the start and end of substrings in the member `snippet` that matched the search terms. The first character of the string is index 1."},"address_snippet":{"items":{"type":"integer"},"type":"array","description":"An array of character offset into the `address_snippet` string. These always occur in pairs and define the start and end of substrings in the member `address_snippet` that matched the search terms."}}}}}}],"required":["kind","title","description","address","address_snippet"],"properties":{"kind":{"type":"string","description":"Describes the type of result returned.","enum":["searchresults#disqualified-officer"]},"date_of_birth":{"type":"string","format":"date","description":"The disqualified officer's date of birth."},"description_identifiers":{"type":"array","items":{"type":"string","enum":["born-on"]},"description":"An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations."},"address":{"type":"object","description":"The address of the disqualified officer as provided by the disqualifying authority.","items":{"title":"DisqualifiedOfficerAddress","properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"country":{"description":"The country. For example UK.","type":"string"},"locality":{"description":"The locality. For example London.","type":"string"},"postal_code":{"description":"The postal code. For example CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region. For example Surrey.","type":"string"}}}}}}}}}},"401":{"description":"Not authorised"}}}},"/dissolved-search/companies":{"get":{"summary":"Search for a dissolved company","description":"Search for a dissolved company","x-operationName":"search dissolved companies","tags":["search"],"parameters":[{"name":"q","in":"query","description":"The company name being searched for","required":true,"type":"string"},{"name":"search_type","in":"query","description":"Determines type of search. Options are alphabetical, best-match, previous-name-dissolved","required":true,"type":"string"},{"name":"search_above","in":"query","description":"The ordered_alpha_key_with_id used for alphabetical paging","required":false,"type":"string"},{"name":"search_below","in":"query","description":"The ordered_alpha_key_with_id used for alphabetical paging","required":false,"type":"string"},{"name":"size","in":"query","description":"The maximum number of results matching the search term(s) to return with a range of 1 to 100","required":false,"type":"string"},{"name":"start_index","in":"query","description":"Used in best-match and previous-name-dissolved search-type","required":false,"type":"string"}],"responses":{"200":{"description":"A list of dissolved companies","schema":{"title":"List of dissolved companies","type":"object","allOf":[{"properties":{"etag":{"type":"string"},"items":{"type":"array","items":{"title":"Dissolved company","required":["company_name","company_number","date_of_cessation","date_of_creation"],"properties":{"company_name":{"type":"string","description":"The company name associated with the dissolved company"},"company_number":{"type":"string","description":"The company number of the dissolved company"},"company_status":{"type":"string","description":"The status of the company"},"ordered_alpha_key_with_id":{"type":"string","description":"The alphakey with it's id associated with the dissolved company"},"kind":{"type":"string","enum":["search-results#dissolved-company"],"description":"The type of search result"},"date_of_cessation":{"type":"string","format":"date","description":"The date that the company was dissolved"},"date_of_creation":{"type":"string","format":"date","description":"The date that the company was incorporated"},"registered_office_address":{"title":"Registered Office Address","description":"This will only appear if there are ROA details in the company record","properties":{"address_line_1":{"type":"string","description":"The first line of the address e.g Crown Way"},"address_line_2":{"type":"string","description":"The second line of the address"},"locality":{"type":"string","description":"The town associated to the ROA e.g Cardiff"},"postal_code":{"type":"string","description":"The postal code e.g CF14 3UZ"}}},"previous_company_names":{"type":"array","items":{"title":"Previous company name","properties":{"company_number":{"type":"string","description":"The company number of the dissolved company"},"ceased_on":{"type":"string","format":"date","description":"The date that the company ceased being known under the company name"},"effective_from":{"type":"string","format":"date","description":"The date that the company started being known under the company name"},"name":{"type":"string","description":"The previous name of the company"}}}},"matched_previous_company_name":{"title":"Previous company name","properties":{"company_number":{"type":"string","description":"The company number of the dissolved company"},"ceased_on":{"type":"string","format":"date","description":"The date that the company ceased being known under the company name"},"effective_from":{"type":"string","format":"date","description":"The date that the company started being known under the company name"},"name":{"type":"string","description":"The previous name of the company"}}}}}},"kind":{"type":"string","enum":["search#alphabetical-dissolved","search#dissolved","search#previous-name-dissolved"]},"top_hit":{"allOf":[{"title":"Dissolved company","required":["company_name","company_number","date_of_cessation","date_of_creation"],"properties":{"company_name":{"type":"string","description":"The company name associated with the dissolved company"},"company_number":{"type":"string","description":"The company number of the dissolved company"},"company_status":{"type":"string","description":"The status of the company"},"ordered_alpha_key_with_id":{"type":"string","description":"The alphakey with it's id associated with the dissolved company"},"kind":{"type":"string","enum":["search-results#dissolved-company"],"description":"The type of search result"},"date_of_cessation":{"type":"string","format":"date","description":"The date that the company was dissolved"},"date_of_creation":{"type":"string","format":"date","description":"The date that the company was incorporated"},"registered_office_address":{"title":"Registered Office Address","description":"This will only appear if there are ROA details in the company record","properties":{"address_line_1":{"type":"string","description":"The first line of the address e.g Crown Way"},"address_line_2":{"type":"string","description":"The second line of the address"},"locality":{"type":"string","description":"The town associated to the ROA e.g Cardiff"},"postal_code":{"type":"string","description":"The postal code e.g CF14 3UZ"}}},"previous_company_names":{"type":"array","items":{"title":"Previous company name","properties":{"company_number":{"type":"string","description":"The company number of the dissolved company"},"ceased_on":{"type":"string","format":"date","description":"The date that the company ceased being known under the company name"},"effective_from":{"type":"string","format":"date","description":"The date that the company started being known under the company name"},"name":{"type":"string","description":"The previous name of the company"}}}},"matched_previous_company_name":{"title":"Previous company name","properties":{"company_number":{"type":"string","description":"The company number of the dissolved company"},"ceased_on":{"type":"string","format":"date","description":"The date that the company ceased being known under the company name"},"effective_from":{"type":"string","format":"date","description":"The date that the company started being known under the company name"},"name":{"type":"string","description":"The previous name of the company"}}}}},{"description":"The best matching company in dissolved search results"}]},"hits":{"type":"string","description":"The number of hits returned on a best-match or previous-company-names search"}}}]}},"404":{"description":"No companies found"},"422":{"description":"Invalid size parameter, size must be greater than zero and not greater than 100"}}}},"/alphabetic-search/companies":{"get":{"summary":"Search for a company","description":"Search for a company","x-operationName":"search companies alphabetically","tags":["search"],"parameters":[{"name":"q","in":"query","description":"The company name being searched for","required":true,"type":"string"},{"name":"search_above","in":"query","description":"The ordered_alpha_key_with_id used for paging","required":false,"type":"string"},{"name":"search_below","in":"query","description":"The ordered_alpha_key_with_id used for paging","required":false,"type":"string"},{"name":"size","in":"query","description":"The maximum number of results matching the search term(s) to return with a range of 1 to 100","required":false,"type":"string"}],"responses":{"200":{"description":"A list of companies","schema":{"title":"List of companies","type":"object","allOf":[{"properties":{"items":{"type":"array","items":{"title":"Alphabetical company","required":["company_name","company_number","company_status","company_type","links"],"properties":{"company_name":{"type":"string","description":"The company name associated with the company"},"company_number":{"type":"string","description":"The company number of the company"},"company_status":{"type":"string","description":"The status of the company"},"ordered_alpha_key_with_id":{"type":"string","description":"The alphakey with it's id associated with the company"},"kind":{"type":"string","enum":["search-results#alphabetical-search"],"description":"The type of search result"},"links":{"type":"object","description":"The link to the company","properties":{"company_profile":{"type":"string","description":"The link to the company"}}},"company_type":{"type":"string","description":"The type of company associated with the company"}}}},"kind":{"type":"string","enum":["search#alphabetical-search","search#enhanced-search"]},"top_hit":{"allOf":[{"title":"Alphabetical company","required":["company_name","company_number","company_status","company_type","links"],"properties":{"company_name":{"type":"string","description":"The company name associated with the company"},"company_number":{"type":"string","description":"The company number of the company"},"company_status":{"type":"string","description":"The status of the company"},"ordered_alpha_key_with_id":{"type":"string","description":"The alphakey with it's id associated with the company"},"kind":{"type":"string","enum":["search-results#alphabetical-search"],"description":"The type of search result"},"links":{"type":"object","description":"The link to the company","properties":{"company_profile":{"type":"string","description":"The link to the company"}}},"company_type":{"type":"string","description":"The type of company associated with the company"}}},{"description":"The best matching company in alphabetical search results"}]}}}]}},"404":{"description":"No companies found"},"422":{"description":"Invalid size parameter, size must be greater than zero and not greater than 100"}}}},"/advanced-search/companies":{"get":{"summary":"Advanced search for a company","description":"Advanced search for a company","x-operationName":"advanced company search","tags":["search"],"parameters":[{"name":"company_name_includes","in":"query","description":"The company name includes advanced search filter","required":false,"type":"string"},{"name":"company_name_excludes","in":"query","description":"The company name excludes advanced search filter","required":false,"type":"string"},{"name":"company_status","in":"query","description":"The company status advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. company_status=xxx&company_status=yyy","required":false,"type":"list"},{"name":"company_subtype","in":"query","description":"The company subtype advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. company_subtype=xxx&company_subtype=yyy","required":false,"type":"string"},{"name":"company_type","in":"query","description":"The company type advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. company_type=xxx&company_type=yyy","required":false,"type":"list"},{"name":"dissolved_from","in":"query","description":"The dissolved from date advanced search filter","required":false,"type":"date"},{"name":"dissolved_to","in":"query","description":"The dissolved to date advanced search filter","required":false,"type":"date"},{"name":"incorporated_from","in":"query","description":"The incorporated from date advanced search filter","required":false,"type":"date"},{"name":"incorporated_to","in":"query","description":"The incorporated to date advanced search filter","required":false,"type":"date"},{"name":"location","in":"query","description":"The location advanced search filter","required":false,"type":"string"},{"name":"sic_codes","in":"query","description":"The SIC codes advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. sic_codes=xxx&sic_codes=yyy","required":false,"type":"list"},{"name":"size","in":"query","description":"The maximum number of results matching the search term(s) to return with a range of 1 to 5000","required":false,"type":"string"},{"name":"start_index","in":"query","description":"The point at which results will start from i.e show search results from result 20 (used for paging)","required":false,"type":"string"}],"responses":{"200":{"description":"A list of companies","schema":{"title":"A list of companies","type":"object","required":["top_hit","items","kind","hits"],"allOf":[{"properties":{"etag":{"type":"string"},"items":{"type":"array","items":{"title":"advancedCompany","required":["company_name","company_number","company_status","company_type","date_of_creation","kind"],"properties":{"company_name":{"type":"string","description":"The company name associated with the company"},"company_number":{"type":"string","description":"The company number of the company"},"company_status":{"description":"The status of the company.  \n For enumeration descriptions see `company_status` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)  ","type":"string","enum":["active","dissolved","open","closed","converted-closed","receivership","administration","liquidation","insolvency-proceedings","voluntary-arrangement","registered","removed"]},"company_type":{"description":"The type of the company.  \n For enumeration descriptions see `company_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)    ","enum":["private-unlimited","ltd","plc","old-public-company","private-limited-guarant-nsc-limited-exemption","limited-partnership","private-limited-guarant-nsc","converted-or-closed","private-unlimited-nsc","private-limited-shares-section-30-exemption","protected-cell-company","assurance-company","oversea-company","eeig","icvc-securities","icvc-warrant","icvc-umbrella","registered-society-non-jurisdictional","industrial-and-provident-society","northern-ireland","northern-ireland-other","royal-charter","investment-company-with-variable-capital","unregistered-company","llp","other","european-public-limited-liability-company-se","uk-establishment","scottish-partnership","charitable-incorporated-organisation","scottish-charitable-incorporated-organisation","further-education-or-sixth-form-college-corporation","registered-overseas-entity"],"type":"string"},"company_subtype":{"description":"The subtype of the company.  \n For enumeration descriptions see `company_subtype` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)","type":"string","enum":["community-interest-company","private-fund-limited-partnership"]},"kind":{"type":"string","enum":["search-results#company"],"description":"The type of search result"},"links":{"type":"object","description":"The link to the company","properties":{"company_profile":{"type":"string","description":"The link to the company"}}},"date_of_cessation":{"type":"string","format":"date","description":"The date that the company was dissolved"},"date_of_creation":{"type":"string","format":"date","description":"The date that the company was incorporated"},"registered_office_address":{"title":"Registered Office Address","description":"This will only appear if there are ROA details in the company record","properties":{"address_line_1":{"type":"string","description":"The first line of the address e.g Crown Way"},"address_line_2":{"type":"string","description":"The second line of the address"},"locality":{"type":"string","description":"The town associated to the ROA e.g Cardiff"},"postal_code":{"type":"string","description":"The postal code e.g CF14 3UZ"},"region":{"description":"The region e.g Surrey.","type":"string"},"country":{"description":"The country.","enum":["Wales","England","Scotland","Great Britain","Not specified","United Kingdom","Northern Ireland"],"type":"string"}}},"sic_codes":{"items":{"type":"string"},"type":"array","description":"SIC codes for this company"}}}},"kind":{"type":"string","enum":["search#advanced-search"]},"top_hit":{"allOf":[{"title":"advancedCompany","required":["company_name","company_number","company_status","company_type","date_of_creation","kind"],"properties":{"company_name":{"type":"string","description":"The company name associated with the company"},"company_number":{"type":"string","description":"The company number of the company"},"company_status":{"description":"The status of the company.  \n For enumeration descriptions see `company_status` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)  ","type":"string","enum":["active","dissolved","open","closed","converted-closed","receivership","administration","liquidation","insolvency-proceedings","voluntary-arrangement","registered","removed"]},"company_type":{"description":"The type of the company.  \n For enumeration descriptions see `company_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)    ","enum":["private-unlimited","ltd","plc","old-public-company","private-limited-guarant-nsc-limited-exemption","limited-partnership","private-limited-guarant-nsc","converted-or-closed","private-unlimited-nsc","private-limited-shares-section-30-exemption","protected-cell-company","assurance-company","oversea-company","eeig","icvc-securities","icvc-warrant","icvc-umbrella","registered-society-non-jurisdictional","industrial-and-provident-society","northern-ireland","northern-ireland-other","royal-charter","investment-company-with-variable-capital","unregistered-company","llp","other","european-public-limited-liability-company-se","uk-establishment","scottish-partnership","charitable-incorporated-organisation","scottish-charitable-incorporated-organisation","further-education-or-sixth-form-college-corporation","registered-overseas-entity"],"type":"string"},"company_subtype":{"description":"The subtype of the company.  \n For enumeration descriptions see `company_subtype` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)","type":"string","enum":["community-interest-company","private-fund-limited-partnership"]},"kind":{"type":"string","enum":["search-results#company"],"description":"The type of search result"},"links":{"type":"object","description":"The link to the company","properties":{"company_profile":{"type":"string","description":"The link to the company"}}},"date_of_cessation":{"type":"string","format":"date","description":"The date that the company was dissolved"},"date_of_creation":{"type":"string","format":"date","description":"The date that the company was incorporated"},"registered_office_address":{"title":"Registered Office Address","description":"This will only appear if there are ROA details in the company record","properties":{"address_line_1":{"type":"string","description":"The first line of the address e.g Crown Way"},"address_line_2":{"type":"string","description":"The second line of the address"},"locality":{"type":"string","description":"The town associated to the ROA e.g Cardiff"},"postal_code":{"type":"string","description":"The postal code e.g CF14 3UZ"},"region":{"description":"The region e.g Surrey.","type":"string"},"country":{"description":"The country.","enum":["Wales","England","Scotland","Great Britain","Not specified","United Kingdom","Northern Ireland"],"type":"string"}}},"sic_codes":{"items":{"type":"string"},"type":"array","description":"SIC codes for this company"}}},{"description":"The best matching company in an advanced search results"}]},"hits":{"type":"string","description":"The number of matches found using advanced search"}}}]}},"400":{"description":"Bad request"},"404":{"description":"No companies found"}}}},"/company/{company_number}/officers":{"get":{"summary":"Company Officers","description":"List of all company officers","x-operationName":"list","tags":["officers"],"parameters":[{"name":"company_number","in":"path","description":"The company number of the officer list being requested.","required":true,"type":"string"},{"name":"items_per_page","in":"query","description":"The number of officers to return per page.","type":"integer"},{"name":"register_type","in":"query","description":"The register_type determines which officer type is returned for the registers view.The register_type field will only work if registers_view is set to true","type":"string","enum":["directors","secretaries","llp-members"]},{"name":"register_view","in":"query","description":"Display register specific information. If given register is held at Companies House, registers_view set to true and correct register_type specified, only active officers will be returned. Those will also have full date of birth.Defaults to false","type":"string","enum":["true","false"]},{"name":"start_index","in":"query","description":"The offset into the entire result set that this page starts.","type":"integer"},{"name":"order_by","in":"query","description":"The field by which to order the result set.","type":"string","enum":["appointed_on","resigned_on","surname"]}],"responses":{"200":{"description":"List the company officers","headers":{"ETag":{"description":"The ETag of the resource.","type":"string"}},"schema":{"title":"officerList","properties":{"active_count":{"description":"The number of active officers in this result set.","type":"integer"},"etag":{"description":"The ETag of the resource.","type":"string"},"items":{"description":"The list of officers.","items":{"title":"officerSummary","properties":{"address":{"description":"The correspondence address of the officer.","items":{"title":"address","required":["address_line_1","locality"],"properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"care_of":{"description":"The care of name.","type":"string"},"country":{"description":"The country e.g. United Kingdom.","type":"string"},"locality":{"description":"The locality e.g. London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g. CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region e.g. Surrey.","type":"string"}}},"type":"object"},"appointed_on":{"description":"The date on which the officer was appointed. For the officer roles of `corporate-managing-officer` and `managing-officer` this is the date on which Companies House was notified about the officer.","type":"string","format":"date"},"contact_details":{"description":"The contact at the `corporate-managing-officer` of a `registered-overseas-entity`.","items":{"title":"contactDetails","properties":{"contact_name":{"description":"The name of the contact.","type":"string"}}},"type":"object"},"country_of_residence":{"description":"The officer's country of residence.","type":"string"},"date_of_birth":{"description":"Details of director date of birth.","items":{"title":"dateOfBirth","properties":{"day":{"description":"The day of the date of birth.","type":"integer"},"month":{"description":"The month of date of birth.","type":"integer"},"year":{"description":"The year of date of birth.","type":"integer"}},"required":["month","year"]},"type":"object"},"links":{"description":"Links to other resources associated with this officer list item.","items":{"title":"itemLinkTypes","required":["self","officer"],"properties":{"self":{"description":"Link to this individual company officer appointment resource.","type":"string"},"officer":{"description":"Links to other officer resources associated with this officer list item.","items":{"title":"officerLinkTypes","required":["appointments"],"properties":{"appointments":{"description":"Link to the officer appointment resource that this appointment is associated with.","type":"string"}}},"type":"object"}}},"type":"object"},"name":{"description":"Corporate or natural officer name.","type":"string"},"nationality":{"description":"The officer's nationality.","type":"string"},"occupation":{"description":"The officer's job title.","type":"string"},"officer_role":{"enum":["cic-manager","corporate-director","corporate-llp-designated-member","corporate-llp-member","corporate-manager-of-an-eeig","corporate-managing-officer","corporate-member-of-a-management-organ","corporate-member-of-a-supervisory-organ","corporate-member-of-an-administrative-organ","corporate-nominee-director","corporate-nominee-secretary","corporate-secretary","director","general-partner-in-a-limited-partnership","judicial-factor","limited-partner-in-a-limited-partnership","llp-designated-member","llp-member","manager-of-an-eeig","managing-officer","member-of-a-management-organ","member-of-a-supervisory-organ","member-of-an-administrative-organ","nominee-director","nominee-secretary","person-authorised-to-accept","person-authorised-to-represent","person-authorised-to-represent-and-accept","receiver-and-manager","secretary"],"type":"string"},"principal_office_address":{"description":"The principal/registered office address of a `corporate-managing-officer` of a `registered-overseas-entity`.","items":{"title":"principalOfficeAddress","properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"care_of":{"description":"The care of name.","type":"string"},"country":{"description":"The country e.g. United Kingdom.","type":"string"},"locality":{"description":"The locality e.g. London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g. CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region e.g. Surrey.","type":"string"}}},"type":"object"},"resigned_on":{"description":"The date the officer was resigned. For the officer roles of `corporate-managing-officer` and `managing-officer` this is the date on which Companies House was notified about the officers cessation.","type":"string","format":"date"},"responsibilities":{"description":"The responsibilities of the managing officer of a `registered-overseas-entity`.","type":"string"},"former_names":{"description":"Former names for the officer.","items":{"title":"formerNames","properties":{"forenames":{"description":"Former forenames of the officer.","type":"string"},"surname":{"description":"Former surnames of the officer.","type":"string"}}},"type":"array"},"identification":{"description":"Only one from `eea`, `non-eea`, `uk-limited`, `other-corporate-body-or-firm` or `registered-overseas-entity-corporate-managing-officer` can be supplied, not multiples of them.","items":{"title":"corporateIdent","properties":{"identification_type":{"description":"The officer's identity type","enum":["eea","non-eea","uk-limited","other-corporate-body-or-firm","registered-overseas-entity-corporate-managing-officer"],"type":"string"},"legal_authority":{"description":"The legal authority supervising the company.","type":"string"},"legal_form":{"description":"The legal form of the company as defined by its country of registration.","type":"string"},"place_registered":{"description":"Place registered.","type":"string"},"registration_number":{"description":"Company registration number.","type":"string"}}},"type":"object"}},"required":["address","appointed_on","links","name","officer_role"]},"type":"array"},"items_per_page":{"description":"The number of officers to return per page.","type":"integer"},"kind":{"enum":["officer-list"],"type":"string"},"links":{"description":"Links to other resources associated with this officer list resource.","items":{"title":"linkTypes","required":["self"],"properties":{"self":{"description":"Link to this officer list resource.","type":"string"}}},"type":"object"},"resigned_count":{"description":"The number of resigned officers in this result set.","type":"integer"},"start_index":{"description":"The offset into the entire result set that this page starts.","type":"integer"},"total_results":{"description":"The total number of officers in this result set.","type":"integer"}},"required":["etag","items_per_page","kind","links","items","start_index","total_results","active_count","resigned_count"]}},"400":{"description":"Bad request","schema":{"title":"error","required":["errors"],"properties":{"errors":{"type":"array","description":"A list of errors found","items":{"title":"errorDetail","required":["type","error"],"properties":{"type":{"type":"string","description":"Type of error","enum":["ch:service","ch:validation"]},"location_type":{"type":"string","description":"Describes the type of location returned so that it may be parsed appropriately","enum":["json-path","query-parameter"]},"location":{"type":"string","description":"The location in the submitted request in which the error relates. This parameter is only provided when errors[].type is set to \"ch:validation\"."},"error":{"type":"string","description":"The error being returned. See github for valid [enumeration types](https://github.com/companieshouse/api-enumerations/blob/develop/errors.yml)"},"error_values":{"type":"array","description":"A collection of argument name and value pairs which, when substituted into the error string, provide the full description of the error. As many name/value pairs as necessary to complete the error description are returned. See <a href=\"\">example</a> above.","items":{"title":"error_values","properties":{"<argument>":{"type":"string","description":"The element name and value pair required to complete the error description, will repeat as necessary."}}}}}}}}}},"401":{"description":"Unauthorised"}}}},"/company/{company_number}/appointments/{appointment_id}":{"get":{"summary":"Get a company officer appointment","description":"Get details of an individual company officer appointment","tags":["officers"],"parameters":[{"name":"company_number","in":"path","description":"The company number of the officer list being requested.","required":true,"type":"string"},{"name":"appointment_id","in":"path","description":"The appointment id of the company officer appointment being requested.","required":true,"type":"string"}],"responses":{"200":{"description":"Get a company officer appointment","headers":{"ETag":{"description":"The ETag of the resource.","type":"string"}},"schema":{"title":"officerSummary","properties":{"address":{"description":"The correspondence address of the officer.","items":{"title":"address","required":["address_line_1","locality"],"properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"care_of":{"description":"The care of name.","type":"string"},"country":{"description":"The country e.g. United Kingdom.","type":"string"},"locality":{"description":"The locality e.g. London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":"The postal code e.g. CF14 3UZ.","type":"string"},"premises":{"description":"The property name or number.","type":"string"},"region":{"description":"The region e.g. Surrey.","type":"string"}}},"type":"object"},"appointed_on":{"description":"The date on which the officer was appointed. For the officer roles of `corporate-managing-officer` and `managing-officer` this is the date on which Companies House was notified about the officer.","type":"string","format":"date"},"contact_details":{"description":"The contact at the `corporate-managing-officer` of a `registered-overseas-entity`.","items":{"title":"contactDetails","properties":{"contact_name":{"description":"The name of the contact.","type":"string"}}},"type":"object"},"country_of_residence":{"description":"The officer's country of residence.","type":"string"},"date_of_birth":{"description":"Details of director date of birth.","items":{"title":"dateOfBirth","properties":{"day":{"description":"The day of the date of birth.","type":"integer"},"month":{"description":"The month of date of birth.","type":"integer"},"year":{"description":"The year of date of birth.","type":"integer"}},"required":["month","year"]},"type":"object"},"links":{"description":"Links to other resources associated with this officer list item.","items":{"title":"itemLinkTypes","required":["self","officer"],"properties":{"self":{"description":"Link to this individual company officer appointment resource.","type":"string"},"officer":{"description":"Links to other officer resources associated with this officer list item.","items":{"title":"officerLinkTypes","required":["appointments"],"properties":{"appointments":{"description":"Link to the officer appointment resource that this appointment is associated with.","type":"string"}}},"type":"object"}}},"type":"object"},"name":{"description":"Corporate or natural officer name.","type":"string"},"nationality":{"description":"The officer's nationality.","type":"string"},"occupation":{"description":"The officer's job title.","type":"string"},"officer_role":{"enum":["cic-manager","corporate-director","corporate-llp-designated-member","corporate-llp-member","corporate-manager-of-an-eeig","corporate-managing-officer","corporate-member-of-a-management-organ","corporate-member-of-a-supervisory-organ","corporate-member-of-an-administrative-organ","corporate-nominee-director","corporate-nominee-secretary","corporate-secretary","director","general-partner-in-a-limited-partnership","judicial-factor","limited-partner-in-a-limited-partnership","llp-designated-member","llp-member","manager-of-an-eeig","managing-officer","member-of-a-management-organ","member-of-a-supervisory-organ","member-of-an-administrative-organ","nominee-director","nominee-secretary","person-authorised-to-accept","person-authorised-to-represent","person-authorised-to-represent-and-accept","receiver-and-manager","secretary"],"type":"string"},"principal_office_address":{"description":"The principal/registered office address of a `corporate-managing-officer` of a `registered-overseas-entity`.","items":{"title":"principalOfficeAddress","properties":{"address_line_1":{"description":"The first line of the address.","type":"string"},"address_line_2":{"description":"The second line of the address.","type":"string"},"care_of":{"description":"The care of name.","type":"string"},"country":{"description":"The country e.g. United Kingdom.","type":"string"},"locality":{"description":"The locality e.g. London.","type":"string"},"po_box":{"description":"The post-office box number.","type":"string"},"postal_code":{"description":
[...]
