openapi: 3.0.1
info:
  description: An API suite providing read only access to search and retrieve
    public company data
  title: Companies House Public Data API
  version: 1.0.0
servers:
  - url: https://api.company-information.service.gov.uk/
  - url: http://api.company-information.service.gov.uk/
security:
  - api_key: []
tags:
  - description: Registered office address
    name: registeredOfficeAddress
  - description: Company profile
    name: companyProfile
  - description: Search
    name: search
  - description: Officers
    name: officers
  - description: Registers
    name: registers
  - description: Charges
    name: charges
  - description: Filing history
    name: filingHistory
  - description: Insolvency
    name: insolvency
  - description: Exemptions
    name: exemptions
  - description: Officer disqualifications
    name: officerDisqualifications
  - description: Officer appointments
    name: officerAppointments
  - description: UK Establishments
    name: UKEstablishments
  - description: Persons with significant control
    name: personsWithSignificantControl
paths:
  "/company/{company_number}/registered-office-address":
    get:
      description: Get the current address of a company
      operationId: companyCompanyNumberRegisteredOfficeAddressGET
      parameters:
        - description: Company number for registered office address
          in: path
          name: company_number
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/registeredOfficeAddress"
          description: Successful response
        "401":
          content: {}
          description: Not authorised
        "404":
          content: {}
          description: Resource not found
      security:
        - oauth2:
            - https://identity.company-information.service.gov.uk/user/profile.read
            - https://api.company-information.service.gov.uk/company/{company_number}/registered-office-address.update
      summary: Registered Office Address
      tags:
        - registeredOfficeAddress
      x-eov-operation-handler: controllers/RegisteredOfficeAddressController
  "/company/{company_number}":
    get:
      description: Get the basic company information
      operationId: companyCompanyNumberGET
      parameters:
        - description: The company number of the basic information to return.
          in: path
          name: company_number
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: object
                    properties:
                      overdue:
                        type: boolean
                      accounting_reference_date:
                        type: object
                        properties:
                          month:
                            type: string
                          day:
                            type: string
                        required:
                          - month
                          - day
                      next_made_up_to:
                        type: string
                      last_accounts:
                        type: object
                        properties:
                          period_end_on:
                            type: string
                          type:
                            type: string
                          period_start_on:
                            type: string
                          made_up_to:
                            type: string
                      next_due:
                        type: string
                      next_accounts:
                        type: object
                        properties:
                          due_on:
                            type: string
                          overdue:
                            type: boolean
                          period_start_on:
                            type: string
                          period_end_on:
                            type: string
                        required:
                          - period_end_on
                    required:
                      - last_accounts
                  can_file:
                    type: boolean
                  company_name:
                    type: string
                  company_number:
                    type: string
                  company_status:
                    type: string
                  confirmation_statement:
                    type: object
                    properties:
                      last_made_up_to:
                        type: string
                      next_made_up_to:
                        type: string
                      next_due:
                        type: string
                      overdue:
                        type: boolean
                    required:
                      - next_made_up_to
                      - next_due
                  date_of_creation:
                    type: string
                  etag:
                    type: string
                  has_been_liquidated:
                    type: boolean
                  has_charges:
                    type: boolean
                  has_insolvency_history:
                    type: boolean
                  has_super_secure_pscs:
                    type: boolean
                  jurisdiction:
                    type: string
                  last_full_members_list_date:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      filing_history:
                        type: string
                      officers:
                        type: string
                      persons_with_significant_control:
                        type: string
                      charges:
                        type: string
                      persons_with_significant_control_statements:
                        type: string
                      insolvency:
                        type: string
                      registers:
                        type: string
                      overseas:
                        type: string
                      uk_establishments:
                        type: string
                      exemptions:
                        type: string
                    required:
                      - self
                  previous_company_names:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        effective_from:
                          type: string
                        ceased_on:
                          type: string
                      required:
                        - name
                        - effective_from
                        - ceased_on
                  registered_office_address:
                    type: object
                    properties:
                      address_line_1:
                        type: string
                      postal_code:
                        type: string
                      country:
                        type: string
                      locality:
                        type: string
                      address_line_2:
                        type: string
                      region:
                        type: string
                      care_of:
                        type: string
                      po_box:
                        type: string
                  registered_office_is_in_dispute:
                    type: boolean
                  sic_codes:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                  undeliverable_registered_office_address:
                    type: boolean
                  date_of_cessation:
                    type: string
                  status:
                    type: string
                  annual_return:
                    type: object
                    properties:
                      last_made_up_to:
                        type: string
                      overdue:
                        type: boolean
                      next_due:
                        type: string
                      next_made_up_to:
                        type: string
                    required:
                      - last_made_up_to
                  branch_company_details:
                    type: object
                    properties:
                      parent_company_number:
                        type: string
                      parent_company_name:
                        type: string
                      business_activity:
                        type: string
                    required:
                      - parent_company_number
                      - parent_company_name
                  foreign_company_details:
                    type: object
                    properties:
                      is_a_credit_financial_institution:
                        type: boolean
                      business_activity:
                        type: string
                      governed_by:
                        type: string
                      registration_number:
                        type: string
                      accounting_requirement:
                        type: object
                        properties:
                          foreign_account_type:
                            type: string
                          terms_of_account_publication:
                            type: string
                        required:
                          - foreign_account_type
                          - terms_of_account_publication
                      legal_form:
                        type: string
                      originating_registry:
                        type: object
                        properties:
                          name:
                            type: string
                          country:
                            type: string
                        required:
                          - name
                          - country
                      accounts:
                        type: object
                        properties:
                          account_period_to:
                            type: object
                            properties:
                              month:
                                type: string
                              day:
                                type: string
                            required:
                              - month
                              - day
                          must_file_within:
                            type: object
                            properties:
                              months:
                                type: string
                            required:
                              - months
                          account_period_from:
                            type: object
                            properties:
                              month:
                                type: string
                              day:
                                type: string
                            required:
                              - month
                              - day
                        required:
                          - account_period_to
                          - must_file_within
                          - account_period_from
                    required:
                      - is_a_credit_financial_institution
                      - registration_number
                      - accounting_requirement
                      - legal_form
                      - originating_registry
                  company_status_detail:
                    type: string
                  external_registration_number:
                    type: string
                  date_of_dissolution:
                    type: string
                  partial_data_available:
                    type: string
                  is_community_interest_company:
                    type: boolean
                  subtype:
                    type: string
                required:
                  - can_file
                  - company_name
                  - company_number
                  - company_status
                  - etag
                  - links
                  - registered_office_address
                  - type
                additionalProperties: false
                title: getCompanyProfile
          description: readCompanyProfile
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      summary: Company profile
      tags:
        - companyProfile
      x-eov-operation-handler: controllers/CompanyProfileController
  /search:
    get:
      description: Search companies, officers and disqualified officers
      operationId: searchGET
      parameters:
        - description: The term being searched for.
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: The number of search results to return per page.
          in: query
          name: items_per_page
          schema:
            type: integer
        - description: The index of the first result item to return.
          in: query
          name: start_index
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                title: Search
                type: object
          description: Search all
        "401":
          content: {}
          description: Not authorised
      summary: Search All
      tags:
        - search
      x-operationName: search all
      x-eov-operation-handler: controllers/SearchController
  /search/companies:
    get:
      description: Search company information
      operationId: searchCompaniesGET
      parameters:
        - description: The term being searched for.
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: The number of search results to return per page.
          in: query
          name: items_per_page
          schema:
            type: integer
        - description: The index of the first result item to return.
          in: query
          name: start_index
          schema:
            type: integer
        - description: Enumerable options to restrict search results. Space separate
            multiple restriction options to combine functionality. For a
            "company name availability" search use "active-companies
            legally-equivalent-company-name" together.
          in: query
          name: restrictions
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: CompanySearch
                type: object
          description: Search company
        "401":
          content: {}
          description: Not authorised
      summary: Search companies
      tags:
        - search
      x-operationName: search companies
      x-eov-operation-handler: controllers/SearchController
  /search/officers:
    get:
      description: Search for officer information
      operationId: searchOfficersGET
      parameters:
        - description: The term being searched for.
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: The number of search results to return per page.
          in: query
          name: items_per_page
          schema:
            type: integer
        - description: The index of the first result item to return.
          in: query
          name: start_index
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                title: OfficerSearch
                type: object
          description: Search officer
        "401":
          content: {}
          description: Not authorised
      summary: Search company officers
      tags:
        - search
      x-operationName: search officers
      x-eov-operation-handler: controllers/SearchController
  /search/disqualified-officers:
    get:
      description: Search for disqualified officer information
      operationId: searchDisqualifiedOfficersGET
      parameters:
        - description: The term being searched for.
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: The number of search results to return per page.
          in: query
          name: items_per_page
          schema:
            type: integer
        - description: The index of the first result item to return.
          in: query
          name: start_index
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                title: DisqualifiedOfficerSearch
                type: object
          description: Search all
        "401":
          content: {}
          description: Not authorised
      summary: Search disqualified officers
      tags:
        - search
      x-operationName: search disqualified officers
      x-eov-operation-handler: controllers/SearchController
  /dissolved-search/companies:
    get:
      description: Search for a dissolved company
      operationId: dissolved_searchCompaniesGET
      parameters:
        - description: The company name being searched for
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: Determines type of search. Options are alphabetical, best-match,
            previous-name-dissolved
          in: query
          name: search_type
          required: true
          schema:
            type: string
        - description: The ordered_alpha_key_with_id used for alphabetical paging
          in: query
          name: search_above
          schema:
            type: string
        - description: The ordered_alpha_key_with_id used for alphabetical paging
          in: query
          name: search_below
          schema:
            type: string
        - description: The maximum number of results matching the search term(s) to return
            with a range of 1 to 100
          in: query
          name: size
          schema:
            type: string
        - description: Used in best-match and previous-name-dissolved search-type
          in: query
          name: start_index
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: List of dissolved companies
                type: object
          description: A list of dissolved companies
        "404":
          content: {}
          description: No companies found
        "422":
          content: {}
          description: Invalid size parameter, size must be greater than zero and not
            greater than 100
      summary: Search for a dissolved company
      tags:
        - search
      x-operationName: search dissolved companies
      x-eov-operation-handler: controllers/SearchController
  /alphabetic-search/companies:
    get:
      description: Search for a company
      operationId: alphabetic_searchCompaniesGET
      parameters:
        - description: The company name being searched for
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: The ordered_alpha_key_with_id used for paging
          in: query
          name: search_above
          schema:
            type: string
        - description: The ordered_alpha_key_with_id used for paging
          in: query
          name: search_below
          schema:
            type: string
        - description: The maximum number of results matching the search term(s) to return
            with a range of 1 to 100
          in: query
          name: size
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: List of companies
                type: object
          description: A list of companies
        "404":
          content: {}
          description: No companies found
        "422":
          content: {}
          description: Invalid size parameter, size must be greater than zero and not
            greater than 100
      summary: Search for a company
      tags:
        - search
      x-operationName: search companies alphabetically
      x-eov-operation-handler: controllers/SearchController
  /advanced-search/companies:
    get:
      description: Advanced search for a company
      operationId: advanced_searchCompaniesGET
      parameters:
        - description: The company name (must contain) advanced search filter
          in: query
          name: company_name
          schema:
            type: string
        - description: The company status advanced search filter. To search using multiple
            values, use a comma delimited list or multiple of the same key i.e.
            company_status=xxx&company_status=yyy
          in: query
          name: company_status
          schema: {}
        - description: The company subtype advanced search filter. To search using
            multiple values, use a comma delimited list or multiple of the same
            key i.e. company_subtype=xxx&company_subtype=yyy
          in: query
          name: company_subtype
          schema:
            type: string
        - description: The company type advanced search filter. To search using multiple
            values, use a comma delimited list or multiple of the same key i.e.
            company_type=xxx&company_type=yyy
          in: query
          name: company_type
          schema: {}
        - description: The dissolved from date advanced search filter
          in: query
          name: dissolved_from
          schema: {}
        - description: The dissolved to date advanced search filter
          in: query
          name: dissolved_to
          schema: {}
        - description: The incorporated from date advanced search filter
          in: query
          name: incorporated_from
          schema: {}
        - description: The incorporated to date advanced search filter
          in: query
          name: incorporated_to
          schema: {}
        - description: The location advanced search filter
          in: query
          name: location
          schema:
            type: string
        - description: The SIC codes advanced search filter. To search using multiple
            values, use a comma delimited list or multiple of the same key i.e.
            sic_codes=xxx&sic_codes=yyy
          in: query
          name: sic_codes
          schema: {}
        - description: The maximum number of results matching the search term(s) to return
            with a range of 1 to 5000
          in: query
          name: size
          schema:
            type: string
        - description: The point at which results will start from i.e show search results
            from result 20 (used for paging)
          in: query
          name: start_index
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: A list of companies
                type: object
          description: A list of companies
        "400":
          content: {}
          description: Bad request
        "404":
          content: {}
          description: No companies found
      summary: Advanced search for a company
      tags:
        - search
      x-operationName: advanced company search
      x-eov-operation-handler: controllers/SearchController
  "/company/{company_number}/officers":
    get:
      description: List of all company officers
      operationId: companyCompanyNumberOfficersGET
      parameters:
        - description: The company number of the officer list being requested.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The number of officers to return per page.
          in: query
          name: items_per_page
          schema:
            type: integer
        - description: The register_type determines which officer type is returned for the
            registers view.The register_type field will only work if
            registers_view is set to true
          in: query
          name: register_type
          schema:
            enum:
              - directors
              - secretaries
              - llp-members
            type: string
        - description: Display register specific information. If given register is held at
            Companies House, registers_view set to true and correct
            register_type specified, only active officers will be returned.
            Those will also have full date of birth.Defaults to false
          in: query
          name: register_view
          schema:
            enum:
              - "true"
              - "false"
            type: string
        - description: The offset into the entire result set that this page starts.
          in: query
          name: start_index
          schema:
            type: integer
        - description: The field by which to order the result set.
          in: query
          name: order_by
          schema:
            enum:
              - appointed_on
              - resigned_on
              - surname
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_count:
                    type: integer
                  etag:
                    type: string
                  inactive_count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: object
                          properties:
                            postal_code:
                              type: string
                            address_line_1:
                              type: string
                            region:
                              type: string
                            locality:
                              type: string
                            premises:
                              type: string
                            address_line_2:
                              type: string
                            country:
                              type: string
                            care_of:
                              type: string
                            po_box:
                              type: string
                        officer_role:
                          type: string
                        name:
                          type: string
                        appointed_on:
                          type: string
                        links:
                          type: object
                          properties:
                            officer:
                              type: object
                              properties:
                                appointments:
                                  type: string
                              required:
                                - appointments
                            self:
                              type: string
                          required:
                            - officer
                            - self
                        date_of_birth:
                          type: object
                          properties:
                            year:
                              type: integer
                            month:
                              type: integer
                          required:
                            - year
                            - month
                        occupation:
                          type: string
                        nationality:
                          type: string
                        country_of_residence:
                          type: string
                        resigned_on:
                          type: string
                        identification:
                          type: object
                          properties:
                            place_registered:
                              type: string
                            identification_type:
                              type: string
                            registration_number:
                              type: string
                            legal_form:
                              type: string
                            legal_authority:
                              type: string
                          required:
                            - identification_type
                        former_names:
                          type: array
                          items:
                            type: object
                            properties:
                              surname:
                                type: string
                              forenames:
                                type: string
                      required:
                        - officer_role
                        - name
                        - links
                  items_per_page:
                    type: integer
                  kind:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                    required:
                      - self
                  resigned_count:
                    type: integer
                  start_index:
                    type: integer
                  total_results:
                    type: integer
                required:
                  - active_count
                  - etag
                  - inactive_count
                  - items
                  - items_per_page
                  - kind
                  - links
                  - resigned_count
                  - start_index
                  - total_results
                additionalProperties: false
                title: listCompanyOfficers
          description: List the company officers
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                title: error
                type: object
          description: Bad request
        "401":
          content: {}
          description: Unauthorised
      summary: Company Officers
      tags:
        - officers
      x-operationName: list
      x-eov-operation-handler: controllers/OfficersController
  "/company/{company_number}/appointments/{appointment_id}":
    get:
      description: Get details of an individual company officer appointment
      operationId: companyCompanyNumberAppointmentsAppointmentIdGET
      parameters:
        - description: The company number of the officer list being requested.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The appointment id of the company officer appointment being
            requested.
          in: path
          name: appointment_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: officerSummary
                type: object
          description: Get a company officer appointment
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                title: error
                type: object
          description: Bad request
        "401":
          content: {}
          description: Unauthorised
      summary: Get a company officer appointment
      tags:
        - officers
      x-eov-operation-handler: controllers/OfficersController
  "/company/{company_number}/registers":
    get:
      description: Get the company registers information
      operationId: companyCompanyNumberRegistersGET
      parameters:
        - description: The company number of the register information to return.
          in: path
          name: company_number
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                    required:
                      - self
                  registers:
                    type: object
                    properties:
                      members:
                        type: object
                        properties:
                          register_type:
                            type: string
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                register_moved_to:
                                  type: string
                                moved_on:
                                  type: string
                                links:
                                  type: object
                                  properties:
                                    filing:
                                      type: string
                                  required:
                                    - filing
                              required:
                                - register_moved_to
                                - moved_on
                        required:
                          - register_type
                          - items
                      directors:
                        type: object
                        properties:
                          register_type:
                            type: string
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                moved_on:
                                  type: string
                                register_moved_to:
                                  type: string
                              required:
                                - moved_on
                                - register_moved_to
                          links:
                            type: object
                            properties:
                              directors_register:
                                type: string
                            required:
                              - directors_register
                        required:
                          - register_type
                          - items
                      secretaries:
                        type: object
                        properties:
                          register_type:
                            type: string
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                register_moved_to:
                                  type: string
                                moved_on:
                                  type: string
                              required:
                                - register_moved_to
                                - moved_on
                          links:
                            type: object
                            properties:
                              secretaries_register:
                                type: string
                            required:
                              - secretaries_register
                        required:
                          - register_type
                          - items
                      persons_with_significant_control:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                register_moved_to:
                                  type: string
                                moved_on:
                                  type: string
                              required:
                                - register_moved_to
                                - moved_on
                          register_type:
                            type: string
                          links:
                            type: object
                            properties:
                              persons_with_significant_control_register:
                                type: string
                            required:
                              - persons_with_significant_control_register
                        required:
                          - items
                          - register_type
                      usual_residential_address:
                        type: object
                        properties:
                          register_type:
                            type: string
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                register_moved_to:
                                  type: string
                                moved_on:
                                  type: string
                              required:
                                - register_moved_to
                                - moved_on
                        required:
                          - register_type
                          - items
                required:
                  - kind
                  - links
                  - registers
                additionalProperties: false
                title: getCompanyRegister
          description: readCompanyRegister
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
      summary: Company registers
      tags:
        - registers
      x-eov-operation-handler: controllers/RegistersController
  "/company/{company_number}/filing-history/{transaction_id}":
    get:
      description: Get the filing history item of a company
      operationId: companyCompanyNumberFilingHistoryTransactionIdGET
      parameters:
        - description: The company number that the single filing is required for.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The transaction id that the filing history is required for.
          in: path
          name: transaction_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  associated_filings:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        date:
                          type: string
                        description:
                          type: string
                        type:
                          type: string
                        action_date:
                          type: integer
                        description_values:
                          type: object
                          properties:
                            capital:
                              type: array
                              items:
                                type: object
                                properties:
                                  currency:
                                    type: string
                                  figure:
                                    type: string
                                required:
                                  - currency
                                  - figure
                            date:
                              type: string
                            capital_currency:
                              type: string
                            capital_figure:
                              type: string
                            resolution_date:
                              type: string
                        original_description:
                          type: string
                        data:
                          type: object
                          properties:
                            description:
                              type: string
                            description_values:
                              type: object
                              properties:
                                description:
                                  type: string
                              required:
                                - description
                        matched-default:
                          type: string
                        subcategory:
                          type: string
                      required:
                        - date
                        - description
                        - type
                  barcode:
                    type: string
                  category:
                    type: string
                  date:
                    type: string
                  description:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      document_metadata:
                        type: string
                    required:
                      - self
                  pages:
                    type: integer
                  transaction_id:
                    type: string
                  type:
                    type: string
                  action_date:
                    type: string
                  description_values:
                    type: object
                    properties:
                      termination_date:
                        type: string
                      officer_name:
                        type: string
                      made_up_date:
                        type: string
                      change_date:
                        type: string
                      appointment_date:
                        type: string
                      cessation_date:
                        type: string
                      psc_name:
                        type: string
                      old_address:
                        type: string
                      new_address:
                        type: string
                      date:
                        type: string
                      capital:
                        type: array
                        items:
                          type: object
                          properties:
                            figure:
                              type: string
                            currency:
                              type: string
                          required:
                            - figure
                            - currency
                      charge_creation_date:
                        type: string
                      charge_number:
                        type: string
                      description:
                        type: string
                      notification_date:
                        type: string
                      withdrawal_date:
                        type: string
                      new_date:
                        type: string
                      change_type:
                        type: string
                      branch_number:
                        type: string
                      change_details:
                        type: string
                      representative_details:
                        type: string
                      brought_down_date:
                        type: string
                      change_address:
                        type: string
                  subcategory:
                    type: string
                  paper_filed:
                    type: boolean
                  resolutions:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        delta_at:
                          type: string
                        description:
                          type: string
                        description_values:
                          type: object
                          properties:
                            res_type:
                              type: string
                            description:
                              type: string
                            resolution_date:
                              type: string
                            case_start_date:
                              type: string
                        subcategory:
                          anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                        type:
                          type: string
                        original_description:
                          type: string
                        barcode:
                          type: string
                      required:
                        - category
                        - description
                        - subcategory
                        - type
                  annotations:
                    type: array
                    items:
                      type: object
                      properties:
                        annotation:
                          type: string
                        category:
                          type: string
                        date:
                          type: string
                        description:
                          type: string
                        description_values:
                          type: object
                          properties:
                            description:
                              type: string
                          required:
                            - description
                        type:
                          type: string
                      required:
                        - annotation
                        - category
                        - date
                        - description
                        - description_values
                        - type
                required:
                  - category
                  - date
                  - description
                  - links
                  - transaction_id
                  - type
                additionalProperties: false
                title: filingHistoryItem
          description: Filing history items resource returned
        "401":
          content:
            application/json:
              schema:
                title: error
                type: object
          description: Unauthorised
        "404":
          content: {}
          description: Filing history not available for this company
      summary: filingHistoryItem resource
      tags:
        - filingHistory
      x-eov-operation-handler: controllers/FilingHistoryController
  "/company/{company_number}/filing-history":
    get:
      description: Get the filing history list of a company
      operationId: companyCompanyNumberFilingHistoryGET
      parameters:
        - description: One or more comma-separated categories to filter by (inclusive).
          in: query
          name: category
          schema:
            type: string
        - description: The company number that the filing history is required for.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The number of filing history items to return per page.
          in: query
          name: items_per_page
          schema:
            type: integer
        - description: The index into the entire result set that this result page starts.
          in: query
          name: start_index
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  filing_history_status:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        action_date:
                          type:
                            - "null"
                            - string
                        category:
                          type: string
                        date:
                          type: string
                        description:
                          type: string
                        description_values:
                          type: object
                          properties:
                            made_up_date:
                              type: string
                            new_date:
                              type: string
                            notification_date:
                              type:
                                - "null"
                                - string
                            psc_name:
                              type: string
                            cessation_date:
                              type: string
                            appointment_date:
                              type: string
                            officer_name:
                              type: string
                            termination_date:
                              type: string
                            change_date:
                              type: string
                            description:
                              type: string
                            charge_creation_date:
                              type: string
                            charge_number:
                              type: string
                            old_address:
                              type: string
                            new_address:
                              type: string
                            branch_number:
                              type: string
                            representative_details:
                              type: string
                            date:
                              type: string
                            capital:
                              type: array
                              items:
                                type: object
                                properties:
                                  currency:
                                    type: string
                                  figure:
                                    type: string
                                  date:
                                    type: string
                                required:
                                  - currency
                                  - figure
                            withdrawal_date:
                              type: string
                            brought_down_date:
                              type: string
                            form_attached:
                              type: string
                            change_details:
                              type: string
                            company_number:
                              type: string
                            close_date:
                              type: string
                            change_address:
                              type: string
                            form_type:
                              type: string
                            alt_capital:
                              type: array
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                  currency:
                                    type: string
                                  description:
                                    type: string
                                  figure:
                                    type: string
                                required:
                                  - date
                                  - currency
                                  - description
                                  - figure
                            case_end_date:
                              type: string
                            officer_address:
                              type: string
                            change_type:
                              type: string
                            original_description:
                              type: string
                            default_address:
                              type: string
                            change_name:
                              type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                            document_metadata:
                              type: string
                        type:
                          type: string
                        pages:
                          type: integer
                        barcode:
                          type:
                            - "null"
                            - string
                        transaction_id:
                          type: string
                        subcategory:
                          anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                        paper_filed:
                          type: boolean
                        associated_filings:
                          type: array
                          items:
                            type: object
                            properties:
                              action_date:
                                type: integer
                              category:
                                type: string
                              date:
                                type: string
                              description:
                                type: string
                              description_values:
                                type: object
                                properties:
                                  capital:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        currency:
                                          type: string
                                        figure:
                                          type: string
                                      required:
                                        - currency
                                        - figure
                                  date:
                                    type: string
                                  capital_figure:
                                    type: string
                                  capital_currency:
                                    type: string
                                  resolution_date:
                                    type: string
                                  description:
                                    type: string
                              type:
                                type: string
                              data:
                                type: object
                                properties:
                                  description_values:
                                    type: object
                                    properties:
                                      description:
                                        type: string
                                    required:
                                      - description
                                  description:
                                    type: string
                              matched-default:
                                type: string
                              subcategory:
                                type: string
                            required:
                              - date
                              - description
                              - type
                        resolutions:
                          type: array
                          items:
                            type: object
                            properties:
                              category:
                                type: string
                              description:
                                type: string
                              description_values:
                                type: object
                                properties:
                                  res_type:
                                    type: string
                                  case_start_date:
                                    type: string
                                  resolution_date:
                                    type: string
                                  description:
                                    type: string
                              subcategory:
                                anyOf:
                                  - type: string
                                  - type: array
                                    items:
                                      type: string
                              type:
                                type: string
                              original_description:
                                type: string
                              barcode:
                                type: string
                              parent_form_type:
                                type: string
                              date:
                                type: integer
                            required:
                              - category
                              - description
                              - type
                        annotations:
                          type: array
                          items:
                            type: object
                            properties:
                              annotation:
                                type: string
                              category:
                                type: string
                              date:
                                type: string
                              description:
                                type: string
                              description_values:
                                type: object
                                properties:
                                  description:
                                    type: string
                                required:
                                  - description
                              type:
                                type: string
                            required:
                              - annotation
                              - category
                              - date
                              - description
                              - description_values
                              - type
                      required:
                        - date
                        - type
                        - barcode
                        - transaction_id
                  items_per_page:
                    type: integer
                  start_index:
                    type: integer
                  total_count:
                    type: integer
                required:
                  - filing_history_status
                  - items
                  - items_per_page
                  - start_index
                  - total_count
                additionalProperties: false
                title: listFilingHistory
          description: Filing history items resource returned
        "401":
          content:
            application/json:
              schema:
                title: error
                type: object
          description: Unauthorised
        "404":
          content: {}
          description: Filing history not available for this company
      summary: filingHistoryList resource
      tags:
        - filingHistory
      x-operationName: list
      x-eov-operation-handler: controllers/FilingHistoryController
  "/company/{company_number}/exemptions":
    get:
      description: Company exemptions information
      operationId: companyCompanyNumberExemptionsGET
      parameters:
        - description: The company number that the exemptions list is quired for.
          in: path
          name: company_number
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: companyExemptions
                type: object
          description: Successful response
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      tags:
        - exemptions
      x-eov-operation-handler: controllers/ExemptionsController
  "/disqualified-officers/natural/{officer_id}":
    get:
      description: Get a natural officer's disqualifications
      operationId: disqualified_officersNaturalOfficerIdGET
      parameters:
        - description: The disqualified officer's id.
          in: path
          name: officer_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: naturalDisqualification
                type: object
          description: Natural officer's disqualifications returned
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      summary: Get natural officers disqualifications
      tags:
        - officerDisqualifications
      x-operationName: get natural officer
      x-eov-operation-handler: controllers/OfficerDisqualificationsController
  "/disqualified-officers/corporate/{officer_id}":
    get:
      description: Get a corporate officer's disqualifications
      operationId: disqualified_officersCorporateOfficerIdGET
      parameters:
        - description: The disqualified officer id.
          in: path
          name: officer_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: corporateDisqualification
                type: object
          description: Corporate officer's disqualifications returned
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      summary: Get a corporate officers disqualifications
      tags:
        - officerDisqualifications
      x-operationName: get corporate officer
      x-eov-operation-handler: controllers/OfficerDisqualificationsController
  "/officers/{officer_id}/appointments":
    get:
      description: List of all officer appointments
      operationId: officersOfficerIdAppointmentsGET
      parameters:
        - description: The officer id of the appointment list being requested.
          in: path
          name: officer_id
          required: true
          schema:
            type: string
        - description: The number of appointments to return per page.
          in: query
          name: items_per_page
          schema:
            type: integer
        - description: The first row of data to retrieve, starting at 0. Use this
            parameter as a pagination mechanism along with the items_per_page
            parameter.
          in: query
          name: start_index
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  etag:
                    type: string
                  is_corporate_officer:
                    type: boolean
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: object
                          properties:
                            address_line_1:
                              type: string
                            locality:
                              type: string
                            postal_code:
                              type: string
                            address_line_2:
                              type: string
                            country:
                              type: string
                            premises:
                              type: string
                            region:
                              type: string
                            care_of:
                              type: string
                            po_box:
                              type: string
                        resigned_on:
                          type: string
                        links:
                          type: object
                          properties:
                            company:
                              type: string
                          required:
                            - company
                        officer_role:
                          type: string
                        appointed_on:
                          type: string
                        appointed_to:
                          type: object
                          properties:
                            company_status:
                              type: string
                            company_name:
                              type: string
                            company_number:
                              type: string
                          required:
                            - company_number
                        name:
                          type: string
                        occupation:
                          type: string
                        nationality:
                          type: string
                        country_of_residence:
                          type: string
                        name_elements:
                          type: object
                          properties:
                            surname:
                              type: string
                            forename:
                              type: string
                            other_forenames:
                              type: string
                            title:
                              type: string
                            honours:
                              type: string
                          required:
                            - surname
                        former_names:
                          type: array
                          items:
                            type: object
                            properties:
                              surname:
                                type: string
                              forenames:
                                type: string
                        is_pre_1992_appointment:
                          type: boolean
                        appointed_before:
                          type: string
                        identification:
                          type: object
                          properties:
                            registration_number:
                              type: string
                            legal_form:
                              type: string
                            place_registered:
                              type: string
                            legal_authority:
                              type: string
                            identification_type:
                              type: string
                          required:
                            - identification_type
                      required:
                        - address
                        - links
                        - officer_role
                        - appointed_to
                        - name
                  items_per_page:
                    type: integer
                  kind:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                    required:
                      - self
                  name:
                    type: string
                  start_index:
                    type: integer
                  total_results:
                    type: integer
                  date_of_birth:
                    type: object
                    properties:
                      month:
                        type: integer
                      year:
                        type: integer
                    required:
                      - month
                      - year
                required:
                  - etag
                  - is_corporate_officer
                  - items
                  - items_per_page
                  - kind
                  - links
                  - name
                  - start_index
                  - total_results
                additionalProperties: false
                title: listOfficerAppointments
          description: List the officer appointments
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "400":
          content: {}
          description: Bad request
        "401":
          content: {}
          description: Unauthorised
      summary: Officer Appointment List
      tags:
        - officerAppointments
      x-operationName: list
      x-eov-operation-handler: controllers/OfficerAppointmentsController
  "/company/{company_number}/charges":
    get:
      description: List of charges for a company.
      operationId: companyCompanyNumberChargesGET
      parameters:
        - description: The company number that the charge list is required for.
          in: path
          name: company_number
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        persons_entitled:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                            required:
                              - name
                        classification:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                          required:
                            - type
                            - description
                        transactions:
                          type: array
                          items:
                            type: object
                            properties:
                              filing_type:
                                type: string
                              links:
                                type: object
                                properties:
                                  filing:
                                    type: string
                                required:
                                  - filing
                              delivered_on:
                                type: string
                            required:
                              - filing_type
                              - delivered_on
                        charge_number:
                          type: integer
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                          required:
                            - self
                        status:
                          type: string
                        created_on:
                          type: string
                        charge_code:
                          type: string
                        particulars:
                          type: object
                          properties:
                            contains_negative_pledge:
                              type: boolean
                            type:
                              type: string
                            contains_fixed_charge:
                              type: boolean
                            description:
                              type: string
                            contains_floating_charge:
                              type: boolean
                            floating_charge_covers_all:
                              type: boolean
                            chargor_acting_as_bare_trustee:
                              type: boolean
                        etag:
                          type: string
                        delivered_on:
                          type: string
                        satisfied_on:
                          type: string
                        secured_details:
                          type: object
                          properties:
                            description:
                              type: string
                            type:
                              type: string
                          required:
                            - description
                            - type
                        scottish_alterations:
                          type: object
                          properties:
                            has_restricting_provisions:
                              type: boolean
                          required:
                            - has_restricting_provisions
                        assets_ceased_released:
                          type: string
                      required:
                        - persons_entitled
                        - classification
                        - transactions
                        - charge_number
                        - links
                        - status
                        - created_on
                        - particulars
                        - etag
                        - delivered_on
                  part_satisfied_count:
                    type: integer
                  satisfied_count:
                    type: integer
                  total_count:
                    type: integer
                  unfiltered_count:
                    type: integer
                required:
                  - items
                  - part_satisfied_count
                  - satisfied_count
                  - total_count
                  - unfiltered_count
                additionalProperties: false
                title: listCharge
          description: Resource returned
        "401":
          content: {}
          description: Unauthorised
        "404 ":
          content: {}
          description: Resource not found
      summary: Charges
      tags:
        - charges
      x-operationName: list
      x-eov-operation-handler: controllers/ChargesController
  "/company/{company_number}/charges/{charge_id}":
    get:
      description: Individual charge information for company.
      operationId: companyCompanyNumberChargesChargeIdGET
      parameters:
        - description: The company number of the company with the charge.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The charge id of the charge being requested.
          in: path
          name: charge_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  charge_number:
                    type: integer
                  classification:
                    type: object
                    properties:
                      type:
                        type: string
                      description:
                        type: string
                    required:
                      - type
                      - description
                  created_on:
                    type: string
                  delivered_on:
                    type: string
                  etag:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                    required:
                      - self
                  particulars:
                    type: object
                    properties:
                      description:
                        type: string
                      type:
                        type: string
                      contains_negative_pledge:
                        type: boolean
                      contains_floating_charge:
                        type: boolean
                      contains_fixed_charge:
                        type: boolean
                      floating_charge_covers_all:
                        type: boolean
                      chargor_acting_as_bare_trustee:
                        type: boolean
                  persons_entitled:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                      required:
                        - name
                  satisfied_on:
                    type: string
                  secured_details:
                    type: object
                    properties:
                      type:
                        type: string
                      description:
                        type: string
                    required:
                      - type
                      - description
                  status:
                    type: string
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        filing_type:
                          type: string
                        links:
                          type: object
                          properties:
                            filing:
                              type: string
                          required:
                            - filing
                        delivered_on:
                          type: string
                      required:
                        - filing_type
                        - delivered_on
                  charge_code:
                    type: string
                  scottish_alterations:
                    type: object
                    properties:
                      has_restricting_provisions:
                        type: boolean
                    required:
                      - has_restricting_provisions
                  assets_ceased_released:
                    type: string
                required:
                  - charge_number
                  - classification
                  - created_on
                  - delivered_on
                  - etag
                  - links
                  - particulars
                  - persons_entitled
                  - status
                  - transactions
                additionalProperties: false
                title: getCharge
          description: Resource returned
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      tags:
        - charges
      x-eov-operation-handler: controllers/ChargesController
  "/company/{company_number}/insolvency":
    get:
      description: Company insolvency information
      operationId: companyCompanyNumberInsolvencyGET
      parameters:
        - description: The company number that the insolvency list is required for.
          in: path
          name: company_number
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: companyInsolvency
                type: object
          description: Company insolvency resource returned
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      tags:
        - insolvency
      x-eov-operation-handler: controllers/InsolvencyController
  "/company/{company_number}/uk-establishments":
    get:
      description: List of uk-establishments companies
      operationId: companyCompanyNumberUkEstablishmentsGET
      parameters:
        - description: Company number
          in: path
          name: company_number
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  etag:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        company_status:
                          type: string
                        locality:
                          type: string
                        company_number:
                          type: string
                        links:
                          type: object
                          properties:
                            company:
                              type: string
                          required:
                            - company
                        company_name:
                          type: string
                      required:
                        - company_status
                        - locality
                        - company_number
                        - links
                        - company_name
                  kind:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                    required:
                      - self
                required:
                  - etag
                  - items
                  - kind
                  - links
                additionalProperties: false
                title: listUkEstablishments
          description: Resource returned
        "401":
          content: {}
          description: Unauthorised
      summary: Company UK Establishments
      tags:
        - UKEstablishments
      x-eov-operation-handler: controllers/UKEstablishmentsController
  "/company/{company_number}/persons-with-significant-control":
    get:
      description: List of all persons with significant control (not statements)
      operationId: companyCompanyNumberPersonsWithSignificantControlGET
      parameters:
        - description: The company number of the persons with significant control list
            being requested.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The number of persons with significant control to return per page.
          in: query
          name: items_per_page
          required: true
          schema:
            type: string
        - description: The offset into the entire result set that this page starts.
          in: query
          name: start_index
          required: true
          schema:
            type: string
        - description: >
            Display register specific information. If register is held at

            Companies House and register_view is set to true, only PSCs which are

            active or were terminated during election period are shown together with

            full dates of birth where available. Accepted values are: -`true`  

            -`false`  \n Defaults to false.
          in: query
          name: register_view
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_count:
                    type: integer
                  ceased_count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        notified_on:
                          type: string
                        natures_of_control:
                          type: array
                          items:
                            type: string
                        name:
                          type: string
                        etag:
                          type: string
                        address:
                          type: object
                          properties:
                            country:
                              type: string
                            premises:
                              type: string
                            address_line_1:
                              type: string
                            postal_code:
                              type: string
                            locality:
                              type: string
                            address_line_2:
                              type: string
                            region:
                              type: string
                            care_of:
                              type: string
                            po_box:
                              type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                          required:
                            - self
                        identification:
                          type: object
                          properties:
                            place_registered:
                              type: string
                            registration_number:
                              type: string
                            legal_form:
                              type: string
                            country_registered:
                              type: string
                            legal_authority:
                              type: string
                          required:
                            - legal_form
                            - legal_authority
                        kind:
                          type: string
                        ceased_on:
                          type: string
                        nationality:
                          type: string
                        name_elements:
                          type: object
                          properties:
                            surname:
                              type: string
                            forename:
                              type: string
                            middle_name:
                              type: string
                            title:
                              type: string
                          required:
                            - surname
                            - forename
                        date_of_birth:
                          type: object
                          properties:
                            year:
                              type: integer
                            month:
                              type: integer
                          required:
                            - year
                            - month
                        country_of_residence:
                          type: string
                      required:
                        - notified_on
                        - natures_of_control
                        - name
                        - etag
                        - address
                        - links
                        - kind
                  items_per_page:
                    type: integer
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      persons_with_significant_control_statements:
                        type: string
                      exemptions:
                        type: string
                    required:
                      - self
                  start_index:
                    type: integer
                  total_results:
                    type: integer
                required:
                  - active_count
                  - ceased_count
                  - items
                  - items_per_page
                  - links
                  - start_index
                  - total_results
                additionalProperties: false
                title: listPersonsWithSignificantControl
          description: readCompanyProfile
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      summary: List the company persons with significant control
      tags:
        - personsWithSignificantControl
      x-operationName: list
      x-eov-operation-handler: controllers/PersonsWithSignificantControlController
  "/company/{company_number}/persons-with-significant-control/individual/{psc_id}":
    get:
      description: Get details of an individual person with significant control
      operationId: companyCompanyNumberPersonsWithSignificantControlIndividualPscIdGET
      parameters:
        - description: The company number of the person with significant control details
            being requested.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The id of the person with significant control details being
            requested.
          in: path
          name: psc_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: individual
                type: object
          description: IndividualPSC resource returned
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      summary: Get the individual person with significant control
      tags:
        - personsWithSignificantControl
      x-operationName: get individual
      x-eov-operation-handler: controllers/PersonsWithSignificantControlController
  "/company/{company_number}/persons-with-significant-control/corporate-entity/{psc_id}":
    get:
      description: Get details of a corporate entity with significant control
      operationId: companyCompanyNumberPersonsWithSignificantControlCorporateEntityPscIdGET
      parameters:
        - description: The company number of the corporate entity with significant control
            details being requested.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The id of the corporate entity with significant control details
            being requested.
          in: path
          name: psc_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: corporateEntity
                type: object
          description: CorporateEntityPSC resource returned
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      summary: Get the corporate entity with significant control
      tags:
        - personsWithSignificantControl
      x-operationName: get corporate entities
      x-eov-operation-handler: controllers/PersonsWithSignificantControlController
  "/company/{company_number}/persons-with-significant-control/legal-person/{psc_id}":
    get:
      description: Get details of a legal person with significant control
      operationId: companyCompanyNumberPersonsWithSignificantControlLegalPersonPscIdGET
      parameters:
        - description: The company number of the legal person with significant control
            details being requested.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The id of the legal person with significant control details being
            requested.
          in: path
          name: psc_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: legalPerson
                type: object
          description: LegalPersonPSC resource returned
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
        "401":
          content: {}
          description: Unauthorised
        "404":
          content: {}
          description: Resource not found
      summary: Get the legal person with significant control
      tags:
        - personsWithSignificantControl
      x-operationName: get legal persons
      x-eov-operation-handler: controllers/PersonsWithSignificantControlController
  "/company/{company_number}/persons-with-significant-control-statements":
    get:
      description: List of all persons with significant control statements
      operationId: companyCompanyNumberPersonsWithSignificantControlStatementsGET
      parameters:
        - description: The company number of the persons with significant control
            statements list being requested.
          in: path
          name: company_number
          required: true
          schema:
            type: string
        - description: The id of the legal person with significant control details being
            requested.
          in: query
          name: items_per_page
          required: true
[...]
